[2014-03-30 18:26] leebaird opened #1 "Install error"
Running on Kali Linux 64-bit.

Gem::Installer::ExtensionBuildError: ERROR: Failed to build gem native extension.

[code]

checking for sqlite3.h... no
**\* extconf.rb failed ***
Could not create Makefile due to some reason, probably lack of
necessary libraries and/or headers.  Check the mkmf.log file for more
details.  You may need configuration options.

Provided configuration options:
    --with

[2014-04-15 18:38] johnmarosi opened #2 "Recommended Platform/Dependencies"
I noticed from another post Kali linux was not tested and there appear to be issues there. What platform do you recommend and what are the dependencies (with versions) I need to install before installing Serpico?

[2014-04-15 21:53] #1 closed, assigned to nobody

[2014-04-17 14:13] #2 closed, assigned to nobody

[2014-04-19 13:01] macubergeek opened #3 "Support for CVS scoring in lieu of DREAD"
It would be really awesome if Serpico allowed one to use the NVD scoring system instead of DREAD
http://nvd.nist.gov/cvss.cfm?calculator&version=2

[2014-04-21 15:17] BuffaloWill opened #4 "Support Generic Risk Scoring in a Finding"
Currently when a user adds or creates a finding they score/rate the risk based on DREAD. This enhancement would add the capability to score the finding more generically (e.g. High, Medium, Low).

[2014-04-21 15:29] BuffaloWill opened #5 "Support CVSS Scoring in a Finding"
Currently when a user adds or creates a finding they score/rate the risk based on DREAD. This enhancement would add the capability to score the finding using CVSS.

[2014-04-21 15:32] #3 closed, assigned to nobody

[2014-05-23 22:09] BuffaloWill opened #7 "Support Setting of Configuration Options via config file (was "Support Command Line Options")"
When a user wants to make a change to the default settings they have to edit serpico.rb. This is not ideal. Instead, we should support command line options.

For example:
- listening port (defaults to 8443)
- AD enabled (disabled by default)
- cert (defaults to cert.pem)

[2014-05-24 02:38] #7 closed, assigned to nobody

[2014-05-24 19:57] mbelton-r7 opened #8 "Generate Presentations"
It would be cool if Serpico could create PresentationML files as an option. Most of this would begin with a template, but incorporate things like the names of the penetration tester(s), the client, the finding titles, the dread scores, etc. into a workable presentation.

http://www.ecma-international.org/publications/standards/Ecma-376.htm

[2014-05-27 16:19] sho-luv opened #9 "Headers don't seem to work"
Code replace work fine however not sure word doc is parsing info as it should be.

[code]

[2014-05-27 16:25] sho-luv opened #10 "Code adds new paragraphs when it should"
[code]

[2014-05-27 18:40] sho-luv opened #11 "Bullets add spaces"
When using bullet tags shown below. Two spaces are added before each bullet.

[code]

[2014-05-27 19:38] #11 closed, assigned to nobody

[2014-05-31 14:12] #9 closed, assigned to nobody

[2014-06-08 18:49] sho-luv opened #13 "We should update meta help to include <<CUSTOMER>> info"
All ready did this but dorked up repo will fix and submit pull request.

[2014-06-08 18:50] sho-luv opened #14 "POC text section only allows one paragraph. Truncates any additional information."

[2014-06-09 21:09] sho-luv opened #15 "References striped when pushed to db"
when adding references to a finding then pushing that finding to the db, finding waiting approve has not references. However remediation section seems to retain bullets.

[2014-06-09 21:26] sho-luv opened #16 "Callaspable finding types"
Would like the ability to collapse types of finding not looking for such as physical and such.

[2014-07-02 20:40] #15 closed, assigned to nobody

[2014-07-02 20:43] #14 closed, assigned to nobody

[2014-07-02 21:07] #13 closed, assigned to nobody

[2014-07-03 02:33] #16 closed, assigned to nobody

[2014-07-03 02:36] #5 closed, assigned to nobody

[2014-07-16 19:26] krazeepentester opened #17 "sudo ruby serpico.rb"
sudo ruby serpico.rb

[2014-07-16 19:41:48] INFO  WEBrick 1.3.1
[2014-07-16 19:41:48] INFO  ruby 1.9.3 (2012-04-20) [i486-linux]
[2014-07-16 19:41:48] WARN  TCPServer Error: Address already in use - bind(2)
[2014-07-16 19:41:48] INFO
Certificate:
    Data:
        Version: 3 (0x2)
        Serial Number:
            01:7b:55:4b:26
    Signature Algorithm: sha1WithRSAEncryption
        Issuer: C=US,

[2014-07-23 17:03] #17 closed, assigned to nobody

[2014-07-25 03:52] #4 closed, assigned to nobody

[2014-07-27 04:26] SilentDream opened #18 "OpenSSL error with certificates"
After following readme instructions and installing on Kali and running "ruby serpico.rb" and attempting to browse to the web interface over HTTPS on Iceweseael, I get an HTTPS error, and the web interface doesn't load:

ERROR OpenSSL::SSL::SSLError: SSL_accept returned=1 errno=0 state=unknown state: http request

Ive tried looking this up and am seeing various issues, not 100% sure why this is hap

[2014-07-27 04:28] #18 closed, assigned to nobody

[2014-08-10 14:48] BuffaloWill opened #19 "Support "Global Variables" for reports"
The variables included in a template report are hardcoded. This feature would allow a user to specify a variable in the UI and allow this variable to be used in a template. This needs to be robust enough to allow the user to specify the name of the variable while only requiring a limited change to the model. It should also allow the user to store templated "global variables".

For example a user c

[2014-08-10 14:54] BuffaloWill opened #20 "Include 40 Findings with the default installation"
40 was chosen as an arbitrary number but it's better than just saying we should support "more" findings. Possible seed sources suggested were OWASP, CWE, and Nessus.

[2014-08-10 14:57] BuffaloWill opened #21 "Support a connector to Nessus"
This would take Nessus results as input and populate a Report. This could either be as a script or as a connector to a remote system via the UI.

[2014-08-10 14:58] BuffaloWill opened #22 "User edit defaults the level to "User""
The user administration page does not correctly read the level of user (i.e. User or Administrator) when performing a GET request.

[2014-08-10 14:59] BuffaloWill opened #23 "Template Database should be called Finding Database"
In the top menu the template database should be called finding database. Template database is misleading.

[2014-08-10 14:59] BuffaloWill opened #24 "The attachment functionality is not linked in the UI"
The attachment menu is not linked from the Report menu

[2014-08-10 15:01] BuffaloWill opened #25 "Support Findings Trending"
A user requested that Finding's results could be trended. For example:
- How many assessments have found a specific finding (xss)
- How many assessments have found a combination of findings (i.e. sqli + xss)

Currently this can be done with DB queries. This feature would show this in the UI.

[2014-08-10 15:01] BuffaloWill opened #26 "Move Documentation to the Wiki"
All of the documentation is currently in the README.md. It should be moved into the Wiki.

[2014-08-10 15:10] BuffaloWill opened #27 "Import findings should allow "Approve on Import""
Currently when importing findings the finding have to be approved manually after import. This was a design decision but makes it difficult to import large finding sets. I think it would be preferable to have an "Approve on import" checkbox that is bordered in red.

[2014-08-10 15:17] #24 closed, assigned to nobody

[2014-08-10 15:26] #22 closed, assigned to nobody

[2014-08-10 16:38] BuffaloWill opened #28 "Move Finding Types into config.json"
Currently the finding types (Wireless, Physical, etc.) are hardcoded into the application. It was requested that this be configurable.

[2014-08-20 00:56] #23 closed, assigned to nobody

[2014-08-21 02:21] #28 closed, assigned to nobody

[2014-08-26 01:23] BuffaloWill opened #32 "Text Only Status Update"
It would be useful to have  text based status update for use in e-mails. This could be generated in the UI, making it easy to copy and paste as an update to a client.

[2014-08-26 01:26] BuffaloWill opened #33 "Ability to Export/Import a report"
It would be very useful to be able to export a report in the UI and then import this report into another version of Serpico. For example, as a user I would like to be able to work on a report in one version of Serpico (say a local copy) and then import it into another version (say a master shared version of Serpico).

[2014-08-26 01:27] BuffaloWill opened #34 "Findings List Should order by DREAD only"
Currently the findings list is ordered by type of finding followed by DREAD. It would be better if the list used DREAD only.

[2014-08-26 01:28] BuffaloWill opened #35 "Upload Attachment Requires File"
Submitting to the upload attachment menu without actually attaching a file causes an error in the UI. A POST with nothing attached should just ignore the submission.

[2014-08-26 01:29] #19 closed, assigned to nobody

[2014-08-26 15:53] d4rkd0s opened #37 "Notification when saving on /info"
There is no indication the information is saved.

I plan to add the following code on success below the `<h2>Consultant Information</h2>`:

`<h4 class="text-success">Saved!</h4>`

[2014-08-28 19:07] sho-luv opened #40 "The ability to edit report titles."
It would be useful if we could edit the titles of the report. :)

[2014-08-28 20:34] #40 closed, assigned to nobody

[2014-08-30 21:50] #35 closed, assigned to nobody

[2014-09-04 20:41] tifkin- opened #43 "Ability to add screenshots to an issue"
It'd be nice to have the ability to attach screenshots to individual findings.  The age-old adage "a picture is worth a thousand words" often applies.

And thanks for the great tool!

[2014-09-06 14:36] #27 closed, assigned to BuffaloWill

[2014-10-06 23:15] #33 closed, assigned to BuffaloWill

[2014-10-06 23:16] #10 closed, assigned to nobody

[2014-10-06 23:18] #8 closed, assigned to nobody

[2014-10-07 00:50] #32 closed, assigned to nobody

[2014-10-07 01:00] #26 closed, assigned to nobody

[2014-10-09 05:00] #43 closed, assigned to nobody

[2014-11-06 19:40] parzamendi-r7 opened #44 "Add notification for review when a new finding has been added"
Add a way to notify admins what a findings needs to be reviewed. Right now, there is no way to tell without logging into the application and checking the findings database.

[2014-11-20 02:30] #44 closed, assigned to nobody

[2014-11-25 03:28] #34 closed, assigned to nobody

[2015-02-06 14:43] BuffaloWill commented on #37
Closing. Open to adding in the case of renewed interest. Would be nice to have consistent Flash messages across UI.

[2015-02-06 14:43] #37 closed

[2015-02-06 14:49] parzamendi-r7 opened #45 "Dread score should default to zero"
When creating a new finding, if dread is enabled, the dread score should default to zero.

[2015-02-06 14:51] BuffaloWill opened #46 "Add finding from Template Database requires a finding"
Attempting to Add Finding from Template to a Report without choosing a finding throws an error. A POST with no finding should just ignore the submission.

To Recreate:
Create/Edit Report > Add Finding From Templates > Click 'Add' with no finding

From @parzamendi-r7

[2015-02-06 15:40] parzamendi-r7 commented on #45
https://github.com/MooseDojo/Serpico/pull/47

[2015-02-11 00:02] #45 closed

[2015-03-06 00:12] ccammilleri opened #48 "user defined variables displays escape character"
if you add a user defined variable with variable data containing a backslash (including newline) it will display the escaped characters within their form on the user_defined_variables page. This will also cause an escape of death by escaping the additional backslashes upon adding another user defined variable or post.

to recreate:
add variable name: test1234
add variable data: test1234\test1234 (

[2015-03-07 18:52] BuffaloWill commented on #48
Good call, thanks for the write-up. Looking at a fix now.

[2015-03-07 19:35] BuffaloWill opened #49 "Rewrite UDV handling of HTML input"
There are bugs in the way that UDV handles and santizes input.

1. create a proper santization method rather gsub'ing on the spot
2. anticipate the impact of to/from json, this is different from other parts of serpico

[2015-03-07 19:36] BuffaloWill commented on #48
Pushed a quick fix for this issue. I created https://github.com/MooseDojo/Serpico/issues/49 to properly fix the underlying problem.

Thanks!!

[2015-03-07 19:36] #48 closed

[2015-03-07 19:48] #46 closed

[2015-03-12 16:46] BuffaloWill commented on #49
UDV still has room for improvement. The haml view could be rewritten to use the add/edit/delete style menu used elsewhere. On the other hand, the implicit delete is kind of cool. Closing this issue.

[2015-03-12 16:46] #49 closed

[2015-03-27 04:06] HexHash64 opened #52 "AsciiDoc report generation support"
Ruby has a native AsciiDoctor library, which is a pure-ruby open-source implementation of AsciiDoc.
http://asciidoctor.org/

Instead of relying on .docx formats, by exporting findings via AsciiDoctor, the generated AsciiDoc output can easily be converted to a variety of formats. This includes exporting to HTML5, Docbook, PDF (via asciidoctor-pdf), or even to a pure AsciiDoc format which itself can

[2015-03-28 04:09] parzamendi-r7 commented on #21
See pull request https://github.com/MooseDojo/Serpico/pull/50

[2015-03-28 20:21] BuffaloWill commented on #21
Landed.

[2015-03-28 20:21] #21 closed

[2015-03-28 20:21] BuffaloWill opened #53 "Wiki Entry for Importing Nessus Report"
Create a wiki entry for how to import Nessus Report. Include associating Templated Finding with Nessus ID.

[2015-03-28 20:23] BuffaloWill opened #54 "Results Page After Nessus Import"
"As a user I would like feedback in the UI after I have imported Nessus results. It should list the findings that were imported and those that were not."

[2015-03-28 20:26] BuffaloWill opened #55 "Associate Templated Findings with Nessus Vuln IDs"
All Serpico default findings should have a Nessus Vuln ID associated with them.

[2015-03-28 20:27] BuffaloWill opened #56 "Migrate Serpico to Ruby 2.x"
Serpico requires Ruby 1.9.3. We should support a more modern version of Ruby.

[2015-03-28 22:24] BuffaloWill commented on #52
Thank you for the submission. This is an interesting idea.

We could easily add in support for findings to be exported into an AsciiDoc format. What I have in mind is the something similar to the status report but instead of in docx, the findings are printed to AsciiDoc.  Would this be valuable? Granted, it falls far short of producing a report.

Getting a report into AsciiDoc would be a more comp

[2015-03-29 18:09] HexHash64 commented on #52
Yes, I at least getting the findings into AsciiDoc would be very valuable. That would then allow people like me to insert it into our own AsciiDoc based report templates.

As for converting from Docx to AsciiDoc, I've read it is possible using the open-source pandoc tool. However, the process appears to involve converting Docx -> HTML5 -> AsciiDoc.

Alternatively, this website (http://thepaulrayne

[2015-04-01 17:27] BuffaloWill opened #57 "Templated Finding Name Search"
"As a user I would like to be able to search the finding titles. Using the browser search includes the finding description which is annoying."

The easiest way to do this is with a javascript based search on the template pages only.

[2015-04-02 21:02] BuffaloWill commented on #52
@HexHash64 : I just pushed the feature for the report findings to AsciiDoc. To use, go to [Report] > Additional Features > Generate AsciiDoc of Current Findings
Does the formating work? I took some liberties with header sizes, etc.

Thinking about the AsciiDoc report generation more, one option would be allowing the user to upload an AsciiDoc report template (or ship with a simple one) and inserti

[2015-04-03 19:07] ccammilleri commented on #57
We've ran into the same issue. Although we like the description preview, we have opt'd to disable it in favor of more effective browser searching.

e1462258ea792ca1927dd4b4d90ba7ac34140460

[2015-04-04 21:57] BuffaloWill commented on #57
@ccammilleri: I hear that

Just pushed the finding title search. It's done with CSS/JS and meant to be light. Like to hear feedback from anyone if this is a good solution or it would be preferred to remove the description preview functionality.

[2015-04-04 21:57] #57 closed

[2015-04-09 05:15] HexHash64 commented on #52
Formatting looks great! Just generated a report and converted to a PDF using asciidoctor-pdf and it looks really good.

[2015-04-13 20:25] BuffaloWill commented on #52
Excellent!

[2015-04-13 20:25] #52 closed

[2015-04-30 20:19] ccammilleri opened #58 "Findings revision history"
It would be useful to see and compare revision histories of an edited finding. We often tweak our existing findings and it would be nice to see those changes. Similar to a wiki revision history, highlighting what as changed recently.

[2015-06-16 00:33] #54 closed

[2015-06-17 20:28] BuffaloWill opened #62 "Fix Space/Indent to be consistent"
Switching between IDEs the indentation has become a horrific mess. This issue is really two things; decide on consistent style and fix across the board.

We should consider to require something like rubocop.

[2015-06-19 17:56] parzamendi-r7 commented on #56
In progress.

[2015-06-24 15:23] securemaryland opened #63 "Enchancement: IP address List"
First let me start by saying thanks for making the product - I just stumbled across it the other day and can already see benefits of using it in the dreaded documentation process.
I thought it would be nice to include a list of IP addresses/ranges. I was thinking it could be used for summary/scope sections of the document and also in the findings - we could tag which hosts had finding.
Also, I wou

[2015-06-24 19:57] mcjon3z opened #64 "Enhancement: Bulk import of vulnerability info from Nessus, etc."
I just came across this project while looking for an alternative to Dradis and must say this is very impressive. I can see this becoming a very useful tool in my playbook.

It appears based upon my limited testing that, in order to import findings from Nessus or Burp the associations must be defined by an ID in an existing vulnerability in the database. In the case of an internal vulnerability ass

[2015-06-29 19:23] parzamendi-r7 commented on #56
testing Gemfile, and Gemfile.lock upates

[2015-07-18 20:55] #56 closed

[2015-07-18 21:10] BuffaloWill commented on #64
@mcjon3z - Sorry for the late reply, took some time off. Thanks for the positive feedback!!

Just pushed a simplified version of this feature. You should now be able to import a nessus xml scan and the findings will be added to the report. From there it should be straightforward to add to the template database.

To enable:
- In config.json, set nessusmap and auto_import to true

A quick note, some

[2015-07-18 21:10] #64 closed

[2015-07-18 21:17] BuffaloWill commented on #63
@securemaryland - Hi and thanks for the feedback! Sorry for the slow response.

I thought it would be nice to include a list of IP addresses/ranges.

This can be done using User Defined Variables. You will want to:
1. Go to Report > Additional Features > Edit User Defined Variables
2. For example, name it "ip_range" and put the range in. Save.
3. Go into your report and add §ip_range§. The ips wil

[2015-07-18 21:24] BuffaloWill commented on #58
@ccammilleri - Great idea. AFAIK sqlite doesn't support true revision commit history. We could staple it on by storing each revision of the finding. Taking that approach, IMO proposed steps:

- Add support in model for finding history
- Add support to serpico.rb to store the revision after each submission
- Create "presentation" layer

As a first step we could create the presentation as a script,

[2015-07-18 21:26] BuffaloWill opened #66 "Add Ability to Edit Nessus ID in Templated Finding"
As a user I would like to be able to edit the Nessus IDs associated with a templated finding.

[2015-07-18 21:27] BuffaloWill opened #67 "Create Findings from burp import"
Similar to Nessus it would be nice if there was an option to auto create a finding from a burp import

[2015-07-19 01:41] #63 closed

[2015-07-20 19:21] BuffaloWill commented on #20
Up to 20. Good enough. Closing.

[2015-07-20 19:21] #20 closed

[2015-07-21 15:19] BuffaloWill commented on #53
Created, see https://github.com/MooseDojo/Serpico/wiki/Import-Vulnerability-Scan-Data

[2015-07-21 15:19] #53 closed

[2015-07-21 15:26] BuffaloWill commented on #66
closing, previously implemented

[2015-07-21 15:26] #66 closed

[2015-07-21 15:27] #55 closed

[2015-10-30 20:56] BuffaloWill opened #72 "create video demo of funcionality"
Requested during Arsenal and via twitter, create a video showing functionality of the tool

[2015-11-05 03:04] BuffaloWill commented on #72
Posted:

https://www.youtube.com/watch?v=G_qYcL4ynSc

[2015-11-05 03:04] #72 closed

[2015-11-07 01:41] BuffaloWill opened #73 "Allow global UDV set in config.json"
As a user I would like to have global user defined variables specific to our organization that are on every assessment. For example,  test_start_date is always needed.

[2015-11-07 01:45] BuffaloWill opened #74 "Import UDV from template report"
As a user I would like to be able to set a user defined variable in my report template and have Serpico recognize it on import. As requested from YouTube comment:
"What would be perfect however, is if Serpico read the user defined variables in a report template and automatically generated a form based on them so you can instantly plug in the usual details you need in every report. So if I had vari

[2015-11-07 02:20] #73 closed

[2015-11-11 19:22] nanotechz9l opened #75 "Ability to set substitution variable in document footer."
Hi,

I noticed that the substitution variables do not show or take effect in the footer of the generated pen report. Example. Placing ΩtextΩ͏ in the footer will have no effect.

[2015-11-11 19:26] nanotechz9l opened #76 "White space not being honored after substitution variables."
Hi I've noticed that the white space in the template is not being honored when the final report is generated.

Template Example:
pen test on ΩAPPLICATION_NAMEΩ application (space)

FINAL report Example:
pen test on ΩAPPLICATION_NAMEΩapplication (no space)

[2015-11-13 02:29] jtomkiel opened #77 "Meta language question"
I'm trying to list all the Critical/Highs in a table based on the type.

**æreport/findings_list/findings:::risk<5:::risk>2æ∞title∞** - works great to list all Critical/Highs but now how do I add the TYPE into that formula as well?

e.g. - **æreport/findings_list/findings:::risk<5:::risk>:::type='Web Application'æ∞title∞** doesn't work.

Desired outcome would be:
A table with Vuln name (if it's wi

[2015-11-13 03:09] BuffaloWill commented on #75
Hey Rick! The substitution variables only replace in main document component (i.e. word/document.xml). Footer, Headers, and Comments are all stored in different xml files inside of the zip (e.g. footer.xml).

Currently there is no way to set a substitution variable in the footer. I will change this to a feature request.

[2015-11-13 03:20] BuffaloWill commented on #76
This is verified but need to look into it further. I will update the finding.

[2015-11-13 05:24] BuffaloWill commented on #77
Hi! I just pushed a small fix for this though it's kind of ugly. You were close, the issue was that as the docx template is moved to xslt for storage the comparison operator is always set to downcase. So

```type='Web Application'```

would never be true because it was being modified to

```type='web application'```

and xslt does not offer a case insensitive string comparison. One option is to re

[2015-11-13 06:01] nanotechz9l commented on #75
Sounds good thanks!

[2015-11-13 06:02] nanotechz9l commented on #76
Great!

[2015-11-13 13:51] jtomkiel commented on #77
Thanks for the fast response! After updating, I'm receiving the following error when trying to upload the latest version of my template:

[code]

After setting `show_exceptions, true` in serpico.rb I see:

`Internal Server Error - invalid byte sequence in US-ASCII`

I attempted to add:
[code]
Here's how it looks in the table currently:

Vuln Name | Risk | Type
------------ | ------------- | ------

[2015-11-13 14:21] BuffaloWill commented on #77
Hmm.. Could you create a gist or e-mail me with the first 10 lines of the stack trace? It should be in the output of the terminal when the error is thrown. Thanks!

[2015-11-14 14:35] jtomkiel commented on #77
After some additional troubleshooting, it turns out the issue was with something else unrelated within the template. I removed the problem area and only have:

Vuln Name | Risk | Type
------------ | ------------- | -------------
æreport/findings_list/findings:::risk<5:::risk>2:::translate(type,$up,$low)=translate('Web Application',$up,$low)æ∞title∞ | ∞risk∞ | ∞type∞

Now, when I attempt to generat

[2015-11-14 14:47] BuffaloWill commented on #77
Ok, just made my e-mail public on my profile.

[2015-11-15 01:32] BuffaloWill commented on #77
This should be good to go, closing.

[2015-11-15 01:32] #77 closed

[2015-11-16 18:40] nanotechz9l opened #78 "LDAP Authentication / Session error."
Serpico throws an error when logging in with valid credentials + valid username in uppercase.

[ Web UI ]
Error!! Check the process dump for the error or turn show_exceptions on to show in the web interface.

[ Console ]
NoMethodError - undefined method `type' for nil:NilClass:
~/Serpico/model/master.rb:143
~/Serpico.rb:2089:in `is_administrator?'

[ Src:143 ]
return User.first(:username => sess.u

[2015-11-23 20:32] BuffaloWill commented on #76
Just pushed a fix for this in https://github.com/MooseDojo/Serpico/commit/4e7bdda6c95699cb3dcad9fc2bbc82fa09052ce3. AFAIK it was a weird subtle bug created by word 2007 vs word 2010 compatibility. The fix has worked in my test cases. @nanotechz9l please test and confirm that this fixes the issue for you.

[2015-11-23 20:51] BuffaloWill commented on #78
@nanotechz9l thanks for submitting this. I just pushed a fix that forces the case to match exactly in the username. On your end you will need to create a username that matches what is seen by the LDAP server. For example, the username on the Serpico side must be 'TEST' (assuming this is what the username is in AD) instead of 'test'.

[2015-11-23 20:51] #78 closed

[2015-11-23 22:21] BuffaloWill commented on #76
Had a couple other people confirm this issue. The fix seems to be working. I'll close the bug. Thanks!

[2015-11-23 22:21] #76 closed

[2015-11-23 22:51] #62 closed

[2015-11-23 23:05] nanotechz9l commented on #76
Anytime thanks! I'll confirm asap.

[2015-11-24 02:25] jtomkiel opened #79 "Not all details entered when importing .nessus file"
I noticed that when importing a .nessus file not the all information is entered into Serpico.

As of today, it looks like Serpico populates details around the vulnerability (overview/remediation) but doesn't enter the 'Affected Hosts/URLs' , 'Proof of Concept' or 'References' areas within the Serpico finding.

Based on the format of the .nessus file, it looks like the `<HostProperties>`, `<tag nam

[2015-11-24 21:43] nanotechz9l commented on #78
Sounds good thanks Will! Confirmed working.

[2015-11-24 21:46] nanotechz9l commented on #76
Confirmed working, thanks!

[2015-11-24 22:18] nanotechz9l opened #81 "Excessive white space in report with multiple findings."
The Final generated report contains excessive white space between finding sections. Some findings are even copied twice into said sections.

Example:
The remediation section is copied twice into one finding section.

Repro:
The issue is present in the custom template I created by copying a default template. Everything works fine except for the white space and duplicate entries every once in a whil

[2015-11-24 22:27] nanotechz9l opened #82 "Substitution variable value not being honored throughout generated report."
I have the same substitution variable placed in various locations in a report template, and once I generate the report the value is only honored in the first substitution variable placeholder instead of all.

Example (Report template):
Page 1.  ΩURLΩ
Page 5.  ΩURLΩ
Page 11.ΩURLΩ

Example (Generated report):
Page 1.   http://dynamism.com
Page 5.   blank
Page 11. blank

[2015-11-25 00:17] BuffaloWill commented on #82
@nanotechz9l I haven't seen this issue before. Maybe the substitution variable is misplaced in the second two cases? If you want to e-mail me your template I can take a look.

[2015-11-25 00:19] BuffaloWill commented on #81
@nanotechz9l Sure, please e-mail me your template and I can take a look.

[2015-11-29 20:41] BuffaloWill commented on #81
Closing for now.

[2015-11-29 20:41] #81 closed

[2015-11-29 20:41] BuffaloWill commented on #82
Closing for now.

[2015-11-29 20:41] #82 closed

[2015-12-07 17:10] jhaddix commented on #67
2nd this =)

[2015-12-13 00:21] BuffaloWill commented on #67
@jhaddix should be good to go now =), just need to modify config.json to enable:
[code]

[2015-12-13 00:21] #67 closed

[2015-12-13 02:10] BuffaloWill commented on #79
@jtomkiel thanks for adding the issue. I just pushed support if you want to test. Decided to move the '<plugin_output>' to the Notes Data at the bottom of the finding as imo it's a bit long to keep in the PoC.

[2015-12-13 02:10] #79 closed

[2015-12-15 00:50] ccammilleri opened #83 "cancel button behaves like a submit"
I'm guessing this is b/c button's default type is a 'submit' and the type is not defined in a lot of pages.  Perhaps these should be changed to behave similar to view/findings_add.haml:

[code]

thoughts?

[2015-12-15 16:16] BuffaloWill commented on #83
@ccammilleri you are correct. This should be changed in the other haml files. I'll self-assign this one.

[2015-12-15 16:44] #83 closed

[2015-12-28 22:50] sandoi opened #87 "Template Font is Not Retained after Substitution"
First off, AWESOME project! I've been looking for something like this for a long time. Thank you for creating this.

Here is my issue: I noticed that when I generate a report, the font does not get retained for substitution variables. In my case, I have the substitution variable set to the Futura Book font, but when I generate the report it changes it Arial. I also tested by using a "standard" fon

[2015-12-29 15:55] mcjon3z opened #88 "Additional Suggestions for Nessus Import"
Great to see the Nessus Import function improvements, particularly the additional information imported in the most recent commit. Thank y'all for the continued work and support for this project!

Couple of additional suggestions:
- ~~Assignment of risk level based on Nessus risk score (currently all imported items come in with a risk level of Low)~~ Issue https://github.com/MooseDojo/Serpico/issue

[2015-12-29 16:09] mcjon3z opened #89 "Bug in function for adding imported nessus vulnerability to master database?"
On my installation, if you attempt to upload a current report finding with a risk rating of "Low" to the master findings database nothing happens. Change it to "Moderate" or higher and it gets added just fine.

[2015-12-29 16:39] sandoi opened #90 "Remediation Effort unavailable when creating new finding"
When creating a new finding, you can insert a Title, choose a Finding Type and Vulnerability Risk Level. However, you cannot choose a Remediation Effort. After you save the finding, though, you can choose a Remediation Effort (as well as the Accepted checkbox, but I understand you may not want that when creating a new finding).

[2015-12-29 19:59] anantshri commented on #87
Based on my experiments what works is if you set your template style specially the normal style to the font you want to keep.

For example if you set normal to Arial everything will be spitted out in Arial.
Simmilarly the idea of using different font is generally associated with different style of text so i would suggest set proper styles and things will be automatically taken care if.

Hope this

[2015-12-29 20:30] BuffaloWill commented on #87
@sandoi thanks for the feedback! @anantshri has a good suggestion. I also use Word Styles (https://support.office.com/en-us/article/Style-basics-in-Word-d382f84d-5c38-4444-98a5-9cbb6ede1ba4) to hold the formatting for a paragraph or string of text. Serpico is usually good about respecting styles applied to text.

Please post back if that works for you. If not, we might have to troubleshoot more.

[2015-12-29 20:34] BuffaloWill opened #91 "Vulnerability Import Should Attempt to Assign a Risk Score"
Currently when a vulnerability scan is imported a risk score of low is applied to any finding. Nessus and Burp importers should attempt to apply a risk score inherited from the scan data.

This will require:
1. Identifying where the risk score is stored for a finding in the Nessus and Burp import scans
2. Update vuln_importer.rb to reflect this

[2015-12-29 20:39] sandoi commented on #87
Thank you both for the input! I will give that a try and post back my results.

[2015-12-29 20:41] mcjon3z commented on #91
Actually playing with this as we speak. Got Nessus working...that was easy.
https://github.com/mcjon3z/Serpico/tree/mcjon3z-nessus-fixes

[2015-12-29 20:57] BuffaloWill commented on #89
@mcjon3z confirmed. The issue was that when importing there was no type applied to the finding. The master database will only display findings that it has a type for. I added a "Imported" type and modified the import to apply this.

[2015-12-29 20:57] #89 closed

[2015-12-29 21:02] BuffaloWill commented on #91
hah. Nice! IMO we need a scoring conversion method; it takes in a risk score and converts to DREAD default and vice versa. So far I've been hard coding and it's error prone. Let me know how your testing goes and I can apply your fix along with the scoring conversion method.

[2015-12-29 22:36] mcjon3z commented on #91
Fixing to shoot a PR - feel free to merge or cherry pick

[2015-12-29 22:49] arisada commented on #87
I agree that some things are very strange with the font/style handling in substituted variables. My template is not very good speaking of styles (there are many parts that do not really use styles but have been "hand-crafted". As a result I had to create a new style for the standard text, because if I changed the "normal" style, I'd completely overwrite the font settings of the first half of the d

[2015-12-30 04:29] sandoi commented on #87
I've done some testing, but can't seem to get this to work. I verified that a style is being applied to the text (it's a custom style, but a style nonetheless) and that it's still there when I preview the template in Serpico. However, after the substitution is done, the style is technically still there, but the font gets changed (perhaps it's a character level style being applied over the paragrap

[2015-12-30 05:04] BuffaloWill commented on #87
I have a theory about what is happening in most cases. In Microsoft Word, the main content of your document is stored in word/document.xml. When you place a substitution variable like ΩSHORT_COMPANY_NAMEΩ in a template Word may store it in one xml element such as:
[code]
or it may break it up and store it across multiple elements like so:
[code]
To compensate for this, Serpico matches the beginnin

[2015-12-30 15:26] mcjon3z opened #93 "Findings view overruns browser window with large notes value from Nessus import"
When importing a large credentialed Nessus scan report, the findings page overruns the browser window (see screenshot). This appears to be related to the text imported into the "Notes" field from the "plugin_output" from the nessus XML. If I comment out the line in vuln_importer.rb which brings in the plugin output and then import the same report, the findings view displays properly.

It is unusua

[2015-12-30 16:38] mcjon3z opened #94 "Nessus importer incorrectly pulls notes and references items"
Nessus importer is pulling notes and references information from the hostnode, not the itemnode - thus each reported vulnerability contains all of the plugin output and references from every plugin reported from that host as opposed to just that plugin.

Note this huge amount of data for each vulnerability is likely the cause of my previously reported bug in the reporting page (https://github.com/

[2015-12-30 16:41] mcjon3z commented on #93
Edit - in troubleshooting this, noticed where the Nessus import feature is incorrectly importing notes data for every plugin run on a particular host since it uses hostnode instead of itemnode. This not only winds up with incorrect plugin data in the notes, but makes them huge and causes this issue with the display.

See https://github.com/MooseDojo/Serpico/issues/94

[2015-12-30 19:22] sandoi commented on #87
Below is a portion of the template that I'm using, which uses a FULL_COMPANY_NAME variable. I notice the w:rFonts element using the Calibri font:
[code]
I imagine if I got rid of the font elements my styling would be maintained. I did use the format painter to apply the style I wanted, but it seems the font element keeps getting added somehow.

[2015-12-31 00:09] BuffaloWill commented on #90
thanks @sandoi! just pushed a fix

[2015-12-31 00:09] #90 closed

[2015-12-31 00:24] BuffaloWill commented on #91
Landed.

[2015-12-31 00:24] #91 closed

[2015-12-31 00:53] #94 closed

[2015-12-31 01:30] BuffaloWill commented on #87
Did you try clearing all formatting from the text? Home > Font > Clear All Formatting or Ctrl+Space on the  highlighted text.
If you want to dig further, the corresponding XSLT in templates/ has what Serpico creates and uses after the template has been uploaded. The xslt's are randomly named but you can grep to find the one you want or going to the database and running 'select * from xslts;' to fi

[2015-12-31 02:00] BuffaloWill commented on #93
Ran a handful of tests and seemed to fix the issue.

[2015-12-31 02:00] #93 closed

[2016-01-05 17:53] nanotechz9l opened #95 "Using a report template by default."

[2016-01-05 18:56] aryanguenthner opened #96 "The option to set a default template"

[2016-01-05 18:56] aryanguenthner opened #97 "When you choose Generate Report the date is not pulled from the time server"

[2016-01-05 20:10] #95 closed

[2016-01-06 22:08] BuffaloWill opened #98 "Nessus ID Should Be Included in Nessus Data Upload"
As a user I would like the Nessus ID to be included with the finding when the scan data is uploaded. Currently I must upload the finding into the template database and then assign a master id to the finding to make it reusable.

Originally from https://github.com/MooseDojo/Serpico/issues/88

Dev Thoughts:
This is currently not possible as a nessus master id is only associated with a Findings objec

[2016-01-06 22:16] BuffaloWill opened #99 "Vulnerability Import Should Automatically Associate With Existing Findings"
As a user I would like for vulnerability imports to associate with previous uploads within the report if they exist. For example, if I upload two nessus scans, only unique findings should be created and the plugin id should be used as a identifier. Currently, the findings are duplicated when uploading multiple scans.

Originally from https://github.com/MooseDojo/Serpico/issues/88

Dev discussion:

[2016-01-06 22:23] BuffaloWill opened #100 "Vulnerability Import Should Support Risk Threshold"
As a user I would like for the vulnerability importer to only create findings above a user specified risk level. For example, a risk level of informational does not get imported while moderate and high risk findings do.

Originally from https://github.com/MooseDojo/Serpico/issues/88

[2016-01-06 22:45] BuffaloWill commented on #88
Thanks @mcjon3z for the feedback. Here were my notes. Hopefully the issues are summarized correctly, please update if not =):
* When adding a Nessus report item to the master vulnerability database, could the Nessus ID also be mapped in the new master vulnerability entry at the time it is uploaded?
-- Issue https://github.com/MooseDojo/Serpico/issues/98

* Assessment type for all imported vulnerab

[2016-01-06 22:45] #88 closed

[2016-01-07 05:48] mcjon3z commented on #98
Thinking a bit further about my previous request as an end user, in most cases in which a Nessus finding would go into my report it would go in directly as-imported and may not really provide much benefit as I initially thought by dumping it into the templated findings. I suppose the one benefit of adding them all to templated findings as they are imported would be to customize the remediation eff

[2016-01-12 17:39] nanotechz9l commented on #43
I'm able to upload a test.png file, view it when I click on "List Current Attachments" but when the report is generated it does not show up.

[2016-01-12 17:50] nanotechz9l opened #101 "Submtting new admin/report templates with no file attachment returns error."
Submitting to the upload "admin" and "report" templates menu without actually attaching a file causes an error in the UI. A POST with nothing attached should just ignore the submission.

WebUI Error:
Error!! Check the process dump for the error or turn show_exceptions on to show in the web interface.

Shell 500 error:
[19/Jan/2015 09:23:03] "POST /admin/templates/add HTTP/1.1" 500 101 0.0071

[2016-01-12 18:33] nanotechz9l opened #102 "Adding new finding types."
It would be cool if we were able to easily add new finding types while creating new findings in the global DB. New finding types examples would be mobile and API testing.

Ref: https://127.0.0.1:8443/master/findings/new

Thx!

[2016-01-20 09:46] derrabe opened #103 "Burp import plugin error"
Error displayed : undefined method `+' for nil:NilClass
From line 61 of helpers/vuln_importer.rb.

It appears if exists.notes is nil it throws this error. Workaround:

    if exists.notes
      exists.notes=exists.notes+"<paragraph></paragraph><paragraph></paragraph>#{single.notes}"
    end

[2016-01-22 00:42] BuffaloWill commented on #101
thanks @nanotechz9l . just pushed a fix, should ignore the submission now.

[2016-01-22 00:42] #101 closed

[2016-01-22 00:44] BuffaloWill commented on #102
@nanotechz9l this can be done by editing the config.json file and adding to the array:

[code]
For example to add mobile:
[code]
This should update the DB automatically.

Does this help?

[2016-01-22 00:48] BuffaloWill commented on #103
thanks @derrabe! Pushed into master.

[2016-01-22 00:48] #103 closed

[2016-01-25 18:43] nanotechz9l commented on #102
Awesome thanks!

[2016-01-25 18:43] #102 closed

[2016-01-29 15:49] BuffaloWill opened #104 "Bundled Version of Serpico"
This issue is meant to keep track of creating a bundled version of Serpico that does not require downloading dependencies. Not sure about the feasibility of it.

Considering:
Phusion Traveling Ruby: https://github.com/phusion/traveling-ruby/
"[Traveling Ruby] allows Ruby app developers to bundle these binaries with their Ruby app, so that they can distribute a single package to end users, without

[2016-02-01 21:54] mark-orion opened #105 "Template editing with open source software (LibreOffice / OpenOffice)"
This is a great project - thanks a lot ! It would be great if it was possible to edit the templates with open source software rather than MS Word. I tried editing templates with LibreOffice but always get exceptions for different reasons.

[2016-02-05 14:09] BuffaloWill commented on #105
thanks @mark-orion!

This is likely something we will need to troubleshoot on a case by case basis. I would probably start with a Serpico template written from scratch in LibreOffice. That is, all of the templates were written from Office and inherit MSOffice docx design/functionality. I think starting out with a LibreOffice based document will limit complexity in trying to figure out what's broke

[2016-02-05 14:11] BuffaloWill opened #106 "LibreOffice Based Template"
As a user I would like a report template specifically built for LibreOffice.

From https://github.com/MooseDojo/Serpico/issues/105

[2016-02-23 14:16] overflowsecurity opened #107 "Screenshot Issue"
I am adding screenshots based on the WiKi,

Filename:
1.png

Attachment Name:
1.png

Added it into the proof section of the default template:
[!! 1.png !!]

Will not show up in the word report when generated.  Any ideas?

[2016-02-23 15:07] overflowsecurity commented on #107
I now have managed to get the screenshot to appear.  Issue is I can only seem to add one screenshot, and any text I put before or after the screenshot will not appear.

[2016-02-24 19:06] BuffaloWill commented on #107
@overflowsecurity, sorry about that. I should add to the Wiki that the image insertion is buggy. Considered removing it because imo it is more effort than it's worth. That is, I find inserting images into my reports one of the shortest parts of the report writing process and the added benefit in doing it from Serpico is limited anyways as the image still has to be resized elsewhere.

As to trouble

[2016-02-25 03:10] BuffaloWill commented on #107
@overflowsecurity are you using a default template or a custom template?

[2016-03-02 11:32] rameshg commented on #107
Please help me. The exported word document is not showing the screenshots.

[2016-03-02 13:47] BuffaloWill commented on #107
@rameshg - Are you using a default template or custom template?

[2016-03-02 17:51] nanotechz9l opened #108 "Role based access control would be a nice feature."
This would entail giving users access to specific reports only.

[2016-03-02 17:53] nanotechz9l opened #109 "Sorting reports by user and date range in UI."
This is an ideal feature when trying to find a specific report for a user or date range.

[2016-03-02 17:56] nanotechz9l opened #110 "Having the ability to email reports from UI to requester would be ideal."
After clicking the "Generate Report" button it would be nice if we had the ability to email the report to the customer/requester straight from the UI (mail server config option, etc).

[2016-03-04 02:37] BuffaloWill commented on #110
@nanotechz9l thanks for the feature suggestion. Have to think on this one a bit. Trying to avoid adding any gems for now.

This could be done via scripting; check out the new wiki page which has info on [Automating Serpico] (https://github.com/MooseDojo/Serpico/wiki/Automating-Serpico)

[2016-03-04 02:39] BuffaloWill commented on #109
I agree having sorting (and searching) on the report page would be helpful. Search for findings was added just using JS, I think we could do something similar for searching.

[2016-03-04 02:47] BuffaloWill commented on #108
Giving a user access to a specific report can be done through the UI. Go to the reports list and click on the silouhette image (e.g. /admin/add_user/[REPORT_ID]). You can assign a "Collaborator" with access to only that report. An admin can also make two non-admin users collaborators on a report.

I will also add this info to the wiki.

[2016-03-04 02:48] #105 closed

[2016-03-04 11:12] toonswyzen opened #111 "Can import finding multiple times"
When I add a current finding to the database i can spam the button X times and the finding will be added X times to the database. Don't know if this is a bug or a feature.

[2016-03-04 13:36] BuffaloWill commented on #111
hi @toonswyzen! This is by design. There is no UI method to copy a finding once it's in the Finding Database. A use case would be you write up a super rad awesome XSS finding in your current report and realize you would like multiple versions (e.g. Persistent, Error Based, DOM) in the Finding database.

[2016-03-04 13:38] toonswyzen commented on #111
Oh oke thanks for the heads up!

[2016-03-04 13:38] #111 closed

[2016-03-05 02:26] BuffaloWill commented on #108
Added https://github.com/MooseDojo/Serpico/wiki/Adding-Other-Users-To-A-Report

[2016-03-05 02:26] #108 closed

[2016-03-08 14:49] toonswyzen opened #112 "Categories"
Is it possible to list findings by category ?
I mean list all findings of type Network Security, Social Engineering etc..

[2016-03-08 18:52] nanotechz9l commented on #108
Thanks.

[2016-03-08 22:33] BuffaloWill commented on #112
hi @toonswyzen. You should be able to get a list of all findings by category in the "Findings Database". Is that what you are looking for?
I added an IRC channel on Freenode if you want do drop in. Might be easier to get help in real time; [#therealserpico](http://webchat.freenode.net/?channels=%23therealserpico&uio=d4)

[2016-03-08 22:35] BuffaloWill opened #113 "New Line Character Removed in Table Row"
When generating a table the new line character is removed from the output inside findings rows. This is more noticeable for Notes and Affected URLs.

[2016-03-09 11:12] toonswyzen commented on #112
I mean in the template, not int he tool itself :)

[2016-03-09 13:54] BuffaloWill commented on #112
Ah good question. You can but it would involve a nesting of conditionals. In pseudo code it would be like:
[code]

the following is untested in the meta language:
[code]

[2016-03-09 15:58] BuffaloWill commented on #112
Ended up pushing a fix for the string comparison. The following should work after pulling the newest code:
[code]

[2016-03-09 16:34] BuffaloWill commented on #100
To set the risk threshold modify config.json to the desired value, 0 is the lowest:
[code]

[2016-03-09 16:34] #100 closed

[2016-03-10 17:12] muk302 opened #114 "Support Metasploit Connector"
nmap scan results
nikto scan results

This is a great tool.

[2016-03-11 14:08] #112 closed

[2016-03-11 19:59] Petessss commented on #114
Hello muk302,
 Can you please provide more detail about what you are looking for with the nmap and nikto importers? Are you wanting the results to be parsed and added as findings or something along those lines?

Thank you.

[2016-03-11 20:42] LibertyUnix commented on #114
That feature would be awesome! Love this project so far, great work.

[2016-03-11 21:44] muk302 commented on #114
Yes, import finding/results.

I suppose it would be easy enough to edit the exported document. But, I
think the more information that becomes part of the Serpico dataset the
better.

-Muk
On Fri, Mar 11, 2016 at 12:43 PM LibertyUnix <notifications@github.com>
wrote:

[2016-03-12 02:55] BuffaloWill commented on #114
I am thinking we could put a dent into supporting other tools through scripting. I added some example scripts here:

https://github.com/MooseDojo/Serpico/wiki/Automating-Serpico

One of which is to import data from another tool into Serpico. A similar approach could be taken for nmap or nikto.

[2016-03-12 17:42] muk302 commented on #114
I would be fine with the scripting approach. In my case, not all potential
users have a scripting/dev background. I could fix that as well, but I'd be
wrapping ruby with Python since I have little time to ramp up on ruby at
the moment. Maybe I could use your existing API's with Python? Could open a
can of worms...
On Fri, Mar 11, 2016 at 6:55 PM BuffaloWill <notifications@github.com>
wrote:

[2016-03-16 22:39] muk302 opened #115 "Add to the Findings Database not working"
If I create a new finding, then hit the "add to the findings database", nothing gets added.

My understanding of this functionality is if I create a new finding and expect to see the same in the future, I can just add it from the list of findings in new reports. Am I right?

[2016-03-16 23:33] Petessss commented on #115
After creating the new finding did you mark it as approved? If not, you'll have to mark it as approved before it will show up in the findings_add screen.

[2016-03-17 12:39] #107 closed

[2016-03-17 12:39] #87 closed

[2016-03-23 00:00] BuffaloWill commented on #115
Going to close the issue. Cheers!

[2016-03-23 00:00] #115 closed

[2016-03-24 21:59] muk302 commented on #115
Where do I approve from?
On Tue, Mar 22, 2016 at 5:00 PM BuffaloWill <notifications@github.com>
wrote:

[2016-03-28 15:12] BuffaloWill commented on #115
@muk302, if you edit the finding from the template database it should have an "Approve" check box. When viewing the list of findings from the Template Database the finding should also be highlighted in red to show that it is currently unapproved.

The use case is that any user can add a finding to the Template Database, but a finding can not be seen by other users until it is approved by an admini

[2016-03-28 15:35] muk302 commented on #115
I don't see an 'approve' checkbox while editing my new finding. I'm an
admin, but maybe it's still a permission issue on my end.
On Mon, Mar 28, 2016 at 8:12 AM BuffaloWill <notifications@github.com>
wrote:

[2016-03-28 15:53] BuffaloWill commented on #115
Make sure you are in the "Findings Database" (the link should be in the top bar of the UI). On the left side you should see a red box that says "Warning you are editing the Template Database". These are the findings that all other users have access to. If you click on edit for one of these findings, there should be an option to Approve it. All admin level users have access to the "Findings Databas

[2016-03-29 16:19] BuffaloWill opened #117 "Support Auto Backup Functionality"
As a user it would be nice to have a backup performed on the database automatically for me. Right now, I have to manually create backups.

[2016-04-01 20:27] ncolyer-r7 commented on #104
Any considerations for maybe a docker image?

[2016-04-04 07:02] ncolyer-r7 commented on #104
I know it is not a bundled version but I had interest in having a Docker image and created a recipe for anyone else interested.

[code]

Call the docker container `docker run -it <image-id> /bin/bash -l` without the l flag, you will need to source the `/usr/local/rvm/scripts/rvm` on shell login before `ruby scripts/first_time.rb` and subsequently `ruby serpico.rb&`

[2016-04-04 09:25] anantshri opened #118 "Sorting issues list in Generic Risk Rating"
If i have a high risk entry for XSS (listed as Cross Site Scripting) and SQLi i might want SQLi to be on top and not XSS. we don't have option right now.

[2016-04-07 22:04] BuffaloWill commented on #104
@ncolyer-r7 sorry for the slow reply, was out most of this week. This is great!! Just tested, worked for me.

I added a wiki entry for running from Docker. Please make recommendations if I messed something up:
https://github.com/MooseDojo/Serpico/wiki/Running-Serpico-From-Docker

[2016-04-08 02:57] ncolyer-r7 commented on #104
No worries man, glad you were cool with it. Everything looks good to me.

[2016-04-08 13:17] BuffaloWill commented on #118
Hey @anantshri. Two ways come to mind to do this in the report template:

1. You can use DREAD scoring and still have Serpico generate a Generic Risk Rating report.
  1. Modify config.json to use DREAD
  2. Update your DREAD scores to match Generic Risk (e.g. DREAD > 40 for high, etc)
  3. Within your report template use the DREAD score to sort the findings but then just print a Generic Risk in th

[2016-04-08 17:55] BuffaloWill opened #119 "Modify Configuration Settings From the UI"
As a user it would be helpful to be able to modify configuration settings from the UI.

Developer Considerations:
- Support settings through both config.json and UI configuration settings ("temporary")
- Add functionality to write config.json from the UI making temporary settings permanent

[2016-04-10 18:36] anantshri commented on #118
I will try that. But just one check so when i mark if DREAD > 40 or any number i would assume the output would automatically be sorted in Descending order of DREAD Scope.

[2016-04-10 20:44] BuffaloWill commented on #118
Yes, it should be in descending order. I would check out the dread report template to verify the syntax.

[2016-04-18 14:02] #118 closed

[2016-05-14 23:43] BobPeterson opened #120 "String comparison"
Hello,

First of all, thank you for your awesome work. It works very well. However, I have an issue trying to realize a string comparison.

My template is as following:

[code]

impact is defined in master.rb as a string in TemplateFindings and Findings classes:
[code]

I have an internal error when I generate the report.
[code]
I tried to compare 2 strings using different syntax but it allways fa

[2016-05-17 18:47] BuffaloWill commented on #120
Thanks @BobPeterson. XSLT uses a single '=' for comparison so your code looks correct. It looks like there is an apostrophe (`) being placed in the string comparison. I would retest with " or ' copied from elsewhere (e.g. notepad).

Given that string comparison is a rather common test, it makes sense to have a string comparison method in the metalanguage. For example:
[code]
I will add an issue fo

[2016-05-17 18:48] BuffaloWill opened #121 "String Comparison Method"
As a user it would be useful to have a string comparison method. This would save time and complexity when attempting to compare strings in a document.

[2016-05-18 15:50] BobPeterson commented on #120
I have made some tests today.

You were right about the single quote, I use one copied from notepad and it works (no more error), however the test always failed.
I didn't understand why until I saw the xslt file generated.

My risk type was as following (you can notice the first letter in uppercase):
[code]
The string comparison on your template will be as following:
[code]
So you could think that

[2016-05-23 12:39] BuffaloWill commented on #120
The translate function we apply in the xslt:
[code]
should be setting the case values the same for both ($up=ABCDE.., $low=abcde...).

Which scoring method (i.e. risk, DREAD, CVSS) are you using? I ask because in the default model there is no "impact" attribute as used in the original issue, only "cvss_impact" which should be a float. If you are using "risk" as your operator then you should do an

[2016-06-07 14:29] #120 closed

[2016-06-14 21:48] BuffaloWill commented on #110
Thank you, we've decided not to implement. This can be done via scripting.

[2016-06-14 21:48] #110 closed

[2016-06-14 21:52] #106 closed

[2016-06-14 21:55] #99 closed

[2016-06-14 21:56] #98 closed

[2016-06-14 21:57] BuffaloWill commented on #97
We have decided not to implement this. Thank you for the submission.

[2016-06-14 21:57] #97 closed

[2016-06-14 21:57] BuffaloWill commented on #96
We have decided not to implement this. Thank you for the submission.

[2016-06-14 21:57] #96 closed

[2016-06-14 21:59] BuffaloWill commented on #75
We have decided not to implement this. Thank you for the submission.

[2016-06-14 21:59] #75 closed

[2016-06-15 12:46] BuffaloWill commented on #114
Placing this under the umbrella of support for metasploit import

[2016-06-15 12:48] BuffaloWill commented on #109
Updating this to default sort by newest report first

[2016-06-15 12:48] BuffaloWill opened #122 "Add Search to Report List"
As a user I would like to be able to search report names from the report list page.

[2016-06-15 12:50] BuffaloWill commented on #74
This won't make it for SummerCamp 2016 but would be valuable.

Engineering discussion: Need to add a flag to parse this

[2016-06-15 12:54] BuffaloWill commented on #25
This issue needs a lot more information. The data crunching can already be done via scripting or API. I think what would be added to the UI is dependent on the user, etc. Closing for now.

[2016-06-15 12:54] #25 closed

[2016-06-15 14:33] Petessss commented on #117
Pull request created.
https://github.com/SerpicoProject/Serpico/pull/123

[2016-06-16 12:41] #117 closed

[2016-06-18 03:44] gszathmari opened #125 "bootstrap.min.css missing from ncolyer/serpico"
Serpico bundled in the current Docker image (ncolyer/serpico) refers to `bootstrap.min.css`. My browser reports 404 errors as a result.

Files in the Docker container:
[code]

Note the page renders correctly, as `bootstrap.css` is also linked from the generated HTML pages:
[code]

[2016-06-19 18:27] BuffaloWill commented on #125
Thanks @gszathmari. Just submitted a PR to fix this.

[2016-06-20 05:46] ccammilleri commented on #114
@BuffaloWill please assign to me.

I'll update this issue soon with my engineering notes.

[2016-06-20 05:53] Petessss commented on #122
Pull request created.

[2016-06-20 12:37] BuffaloWill commented on #125
Landed.

[2016-06-20 12:37] #125 closed

[2016-06-20 13:11] BuffaloWill commented on #109
Merged

[2016-06-20 13:11] #109 closed

[2016-06-22 12:42] BuffaloWill commented on #113
An example to recreate the issue:

1. Download the "Default Report Template - Generic Risk Scoring"
2. Modify the Executive Summary table and add a new column for affected hosts:
[code]
3. Upload as the new report template
4. Create a finding with a risk>3; add hosts on multiple lines. For example:
[code]
5. Generate the report and review the table. Notice the new line chars have been removed

[2016-06-23 23:32] BuffaloWill commented on #122
Landed

[2016-06-23 23:32] #122 closed

[2016-07-01 18:07] BuffaloWill commented on #113
This is not a bug just incorrect application of the meta language. The ∞ character will output the value in it's entirety. To add a new line character inside of an element we need a for loop to iterate the paragraphs of the element. Therefore replace ∞affected_hosts∞ with
[code]
The new line character is automatically added as a result of the paragraph; keep the above all on one line inside of the

[2016-07-01 18:07] #113 closed

[2016-07-01 18:18] BuffaloWill commented on #113
Wiki updated to provide an example for this.

[2016-07-06 21:23] nanotechz9l opened #130 "Generate Secure Report download link to non users."
# Enhancement request:
It would be great for Serpico to be able to generate secure download links that can be sent to anyone (non-users) to download reports.

[2016-07-06 21:25] #130 closed

[2016-07-07 11:33] jvoisin opened #131 "Installation issues"
It seems that there are some issue with the setup process of Serpico. Since I don't know anything about ruby, here is a rough excerpt of my shell history showing the issue, and how I solved it : it looks like a Gemfile-related issue:

[code]

[2016-07-07 20:04] BuffaloWill commented on #131
Hi @jvoisin! My guess is `bundle install` install didn't run correctly the first time. The three gems you mentioned are included the Gemfile.

[code]

Cheers!

[2016-07-07 20:04] #131 closed

[2016-07-08 13:25] jvoisin commented on #131
There is nothing that you can do to fix this?
I could reproduce this behaviour on different machines :/

[2016-07-15 14:25] Petessss commented on #131
@jvoisin,
 Can you send us the full output when you run bundle install?

[2016-07-17 17:00] Petessss commented on #104
beta deb install has been create. Needs to be tested and vetted.
https://github.com/SerpicoProject/Serpico-Installers

I'll get cracking on a windows Version.

[2016-07-22 07:25] ccammilleri opened #132 "Inconsistent display of cvss settings"
There are some elsif statements that are causing this behaviour. Also errors on creation of new findings. Feel free to assign to me and I can fix.

This raises a question. Shall we support the use of dread AND cvss simultaneously? I vote yes. If we decide not to we should change the configuration to only allow one or the other.

[2016-07-22 14:31] BuffaloWill commented on #119
Landed.

[2016-07-22 14:31] #119 closed

[2016-07-22 14:34] BuffaloWill opened #133 "Create Windows Installer"
Forking from https://github.com/SerpicoProject/Serpico/issues/104; create a windows installer available for the releases tab.

[2016-07-22 14:34] BuffaloWill opened #134 "Create OS X Installer"
Forking from https://github.com/SerpicoProject/Serpico/issues/104; create an OS X installer available for the releases tab.

[2016-07-22 14:36] BuffaloWill opened #135 "Add Installers To Releases Tab"
Forking from #104; the installers should be added to the releases tab and version numbering should be enacted.

[2016-07-22 14:37] BuffaloWill opened #136 "Update README for new installation instructions"
IMO releases should be the recommended installation method. The README needs to be updated to reflect this.

[2016-07-22 14:38] BuffaloWill commented on #104
@Petessss you rock. I am going to close this issue. I am breaking this out into the following issues:

- Windows Installer (https://github.com/SerpicoProject/Serpico/issues/133)
- OSX Installer (https://github.com/SerpicoProject/Serpico/issues/134)
- Add Installer to Releases (https://github.com/SerpicoProject/Serpico/issues/135)
- Update README (https://github.com/SerpicoProject/Serpico/issues/13

[2016-07-22 14:38] #104 closed

[2016-07-22 14:53] BuffaloWill opened #137 "Fix UI bugs for CVSS scoring"
From https://github.com/SerpicoProject/Serpico/issues/132

[2016-07-22 14:55] BuffaloWill commented on #132
The multiple scoring system approach was a poorly thought out and quickly implemented addition by me. There are a few things that bug me about it:
- It's not intuitive that the report template should match the scoring system. For example, if I switch to CVSS I need to also switch the report used on every assessment.
- To your point, the configuration options are ~~unclear~~ broken and only one one

[2016-07-22 14:56] BuffaloWill opened #138 "Change configuration options to only allow one scoring system"
The configuration Options should only allow one scoring system; Risk, DREAD, or CVSS.

https://github.com/SerpicoProject/Serpico/issues/132

[2016-07-29 02:16] BuffaloWill commented on #114
Landed. Awesome!

[2016-07-29 02:16] #114 closed

[2016-07-29 13:06] BuffaloWill commented on #137
My misunderstanding for this, issue is when multiple are enabled.

[2016-07-29 13:06] #137 closed

[2016-07-29 13:55] #138 closed

[2016-07-29 13:56] BuffaloWill commented on #136
Landed.

[2016-07-29 13:56] #136 closed

[2016-07-31 13:36] BuffaloWill commented on #135
Landed.

[2016-07-31 13:36] #135 closed

[2016-08-05 16:48] roobixx opened #142 "Report by Assessment type"
Im trying to create a template that reports findings by the assessment type eg: External, Internal, etc and cant seem to figure out how to accomplish this using the meta language.  Anytime I try to do a string comparison for say ¬report/findings_list/findings:::risk>3:::assessment_type='External'¬ it throws an error. ' #<RuntimeError: compilation error: element if xsl:if : could not compile test e

[2016-08-10 18:54] anantshri opened #143 "Markdown editor support with upload images option"
Creating an issue as per discussion during BH Arsenal.

Issues description and other text area's can benfit from having a javascript markdown editor, this if coupled with upload images option will also streamline the whole markdown editing process.

some sample java-script markdown editors :
https://simplemde.com
https://vuejs.org/examples/

[2016-08-10 18:56] anantshri opened #144 "startup script initrd / upstart / systemd / service for installer"
Creating an issue as per discussion during BH Arsenal.

The installer should install Serpico as a service.
1) initrd / upstart / systemd config for linux
2) service install for Windows
3) service or simmilar install for mac.

this will ensure that start stop restart is smooth, if you add logging code a seperate log file could be created with debug logs etc.

[2016-08-10 18:58] anantshri opened #145 "Peer review inside finding details"
Creating an issue as per discussion during BH Arsenal.

An option for peer review within the reporting too.
1) when a user can mark a report done and available for review,
2) another user pick's up and performs changes and mark it as reviewed.
3) Original user gets a notification that its done review and in updated report user can see the differences / changes being made and may be accept or rejec

[2016-08-10 19:01] anantshri opened #146 "markdown sanity check per issues save"
Creating an issue as per discussion during BH Arsenal.

When an individual issue is saved a markdown sanity check should be called and should be used to pick bad markdown.

[2016-08-10 19:07] anantshri opened #147 "export database with attachments"
Creating an issue as per discussion during BH Arsenal.

Right now json doesn't contains attachments, what about adding one of the two options

1) a large / massive json blob with all attachments base64'ed inside it.
2) a zip download  and simmilarly upload option to ensure all attachments are extracted and restored correctly.

[2016-08-10 19:08] anantshri opened #148 "direct option to print PDF from reveal slideshow"
Creating an issue as per discussion during BH Arsenal.

reveal.js allows direct pdf printing. why not add a button to ensure user can quickly get a printable pdf from presentation.

[2016-08-11 00:00] BuffaloWill commented on #142
@roobixx this should work:
[code]
Still working on a better way to do string comparison, https://github.com/SerpicoProject/Serpico/issues/121.

Sorry for the late reply.

[2016-08-11 00:07] Petessss commented on #133
There is an issue with ZipRuby on Windows. Trying to work that out.

[2016-08-12 00:29] roobixx commented on #142
Thank you so much! I will try this out.

Going to go ahead and close the issue.

[2016-08-12 00:29] #142 closed

[2016-08-15 01:16] BuffaloWill commented on #148
@anantshri mind taking a look at https://github.com/SerpicoProject/Serpico/pull/149/files? This should add the functionality. However, I am running into some trouble with the print-pdf functionality in reveal.js. Specifically in Chrome 52 on OS X, the presentation comes up blank. Since you are familiar with reveal,js, could you take a look? Thanks!

[2016-08-15 04:43] anantshri commented on #148
Hey @BuffaloWill I had a look at this. There is something wrong in our Javascript runtime css selection code. if you manually specific paper or pdf.css it all works just fine.

I will give it another shot later today to see if this can be easily solved.

[2016-08-24 14:20] rajdaggubati opened #150 "Low severity and info issues from Nessus XML are not populating in serpico findings"
Few issues when I import Nessus xml:

1. I only see critical issues in Serpico but not the info and medium issues.

2. I also observed drop in the findings count( Nessus has 7 findings and i only see 6 in Serpico) .

What i am doing wrong?

[2016-08-24 14:34] BuffaloWill commented on #150
Hi @rajdaggubati. Serpico defaults to this setting when importing Nessus XML. To change, go to Administration > Configuration Settings and modify the threshold to a lower number (e.g. 0 to include informational findings). You will then want to re-import your findings.

[2016-08-24 15:43] #150 closed

[2016-08-26 13:10] anantshri opened #151 "any option to add custom user editable field"
I am looking at adding a custom user editable field in each report. Say a field XYZ predefined but user editable in the form. There is an option to have custom user defined variable but that needs to be created everytime i dont want to rely on user creating that field everytime.

We can compare this to say the fields like customer phone email etc.

[2016-08-29 13:38] BuffaloWill commented on #151
@anantshri, there is a Global User Defined Variable in the configuration settings. This should add the UDV to every new report. Does this work?

[2016-08-29 14:08] BuffaloWill commented on #146
Dev notes:
I think two updates should be sufficient:
1. Add a new method to helper.rb with a sanity check
2. Modify all routes that post to :findings_edit or :findings_add with the check

[2016-08-31 12:48] infosecrepo opened #153 "Simple Risk Rating Format"
It would be great to be able to use just a simple risk rating format. More specifically, the following, as commonly used by many organizations:

Risk = Impact x Likelihood

Thank you!

[2016-08-31 15:42] chandooz opened #154 "Filter by Assessment Type"
I was wondering if there was a way to filter by assessment type much like you can for the Dread Score (i.e. :::assessment_type=External)? Is there a way to do this?

[2016-08-31 18:40] chandooz commented on #154
I saw that someone already answered this so I'd like to adjust the question. Is it possible to do it in a  table?

[2016-09-01 07:18] harithanalluri opened #155 "Could not import all the Nessuss findings into Serpico"
Not able to see all the Nessus findings:
1. Trying to import findings from Nessus to Serpico.
2. Some of the findings are still missing even after setting a specific threshold.
3. Tested for all the Threshold values (0-4)
4. Please let me know what am I missing here.

Screenshots are not being exported:
1. And also observed that that tool is not exporting the screenshots in to the report
2. I did

[2016-09-01 12:26] BuffaloWill commented on #155
Hi! Please create two different issues for the screenshots and notes so that we can track the issue.

Not able to see all the Nessus findings:

Are the findings showing up in the Serpico UI?
Have you set the findings to be automatically imported (Configuration Settings > auto_import) or do you have them mapped?

[2016-09-01 12:31] BuffaloWill commented on #154
Hi @chandooz!

Yes, it is possible to do this in a table. The code is very similar:
[code]

[2016-09-01 12:36] BuffaloWill commented on #154
Added a wiki page:
https://github.com/SerpicoProject/Serpico/wiki/Parsing-by-Assessment-Type-or-Performing-a-String-Comparison-in-a-Report

[2016-09-01 12:36] #154 closed

[2016-09-01 12:38] BuffaloWill commented on #153
@infosecrepo, I think PR 152 (https://github.com/SerpicoProject/Serpico/pull/152) is similar to what you are looking for. Does this fit? Still performing code review on it but it should land soon.

[2016-09-01 12:39] BuffaloWill commented on #145
@anantshri, to update you. In discussions with @Petessss about how to fit this in and possible plugin architecture.

[2016-09-01 12:39] BuffaloWill commented on #147
@Petessss, any updates on this?

[2016-09-01 12:39] BuffaloWill commented on #144
@Petessss, any updates on this?

[2016-09-01 12:48] infosecrepo commented on #153
I'm no ruby expert... but looking at the code changes from #152, it does seem to match my request. Thanks!

[2016-09-01 12:53] chandooz commented on #154
It didn't work for me, but by adding report to the beginning it did. æreport/findings_list/findings....

[2016-09-01 12:53] chandooz commented on #154
Thank you for your help!

[2016-09-01 12:54] BuffaloWill commented on #153
Apologies, I was being lazy; should've added more detail about the PR. PR152 adds an additional scoring format where you can set a severity and likelihood on a finding. The risk for the finding is then calculated as

Risk = Severity + Likelihood

[2016-09-01 12:57] BuffaloWill commented on #154
My bad! Thanks, I will update the wiki.

[2016-09-01 13:57] infosecrepo commented on #153
No worries, I was able to get the idea. I may have some suggested changes once #152 is merged.

[2016-09-01 14:57] chandooz opened #156 "Criticality"
Is there a way to display criticality rating by name (Critical, High, Medium, Low) instead of by number (4,3,2,1)?

[2016-09-01 15:25] Petessss commented on #147
Its still in progress.

[2016-09-01 15:27] Petessss commented on #144
Almost done. Dealing with Sinatra's crazy out. Once that's fixed, I'll push the updated.

[2016-09-01 19:01] Petessss commented on #151
@anantshri, did this answer your question?

[2016-09-02 04:56] harithanalluri opened #158 "Screenshots are not being exported to Serpico report"
Screenshots are not being exported:
 1. Observed that the tool is not exporting the screenshots in to the report
 2. I did follow the instructions specified in the Wiki page "Inserting Screenshots" ---->[!! sqli.png !!]
 3. Is there anything more to be done?

Thank you.

[2016-09-02 04:59] harithanalluri opened #159 "'Notes' information is not being exported to Serpico Report"
'Notes' information is not being exported:
 1. Observed that the 'Notes' content of Findings is not being exported to the report.
 2. Is there any way to export the 'Notes', as it is important to give IP/Port details in the report on need basis.

Thank you.

[2016-09-02 05:19] harithanalluri commented on #155
Thank you for the response.

1. No, I am not seeing all the findings in the Serpico UI.
2. Yes, I did set 'auto import' and also mapped the corresponding mapping.
(in this case Nessus: 'nessusmap')

2. If I import 7 medium findings from a Nessus report, I could see only 6
in Serpico GUI (both in the Graph and also in the list of findings

Thank you.

On Thu, Sep 1, 2016 at 5:56 PM, BuffaloWill <no

[2016-09-02 17:27] Petessss commented on #159
This is correct. The notes were intended for internal use only. The "
Affected Hosts/URLs" section can be used for IP/Port details.

[2016-09-02 17:27] #159 closed

[2016-09-02 17:30] Petessss commented on #158
@harithanalluri, can you please provide more information? What type of image are you using? How is the image named? Do you have spaces, dashes in the name? Which version of Serpico are you using (installer or direct from github)?

[2016-09-02 17:34] Petessss commented on #147
Pull request created. If the method looks good, I'll add some error checking and clean things up.

[2016-09-02 19:04] Petessss commented on #144
https://github.com/SerpicoProject/Serpico/pull/160 - pull request created.

[2016-09-03 07:41] yashar6909 opened #161 "passwd reset"
When the database was created it generated a password for me,
now my machine crashed (not serpico's fault) and I didn't have time to reset or change the password.
I have looked at the script reset_pw.rb , but executing it with ruby does not seem to work.
Do you have an easier way of doing this? as I have started to write extensive information that I do not particularly want to lose :)

[2016-09-03 12:56] Petessss commented on #161
@yashar6909 Can you please provide more information? How are you running the script? What output does the script give. Which version of Serpico are you running, the installer or development?

[2016-09-03 17:30] BuffaloWill commented on #161
Hey @yashar6909. I have run into this on the installer version. If this is the case for you, this script should work:
[reset_pass.sh](https://gist.githubusercontent.com/BuffaloWill/aecd5473a8d7540e8f4ddb226c1ff901/raw/b2b7212f6d43bea6d327a600202366f291567ba5/reset_pass.sh)

To use:
[code]

[2016-09-03 17:37] BuffaloWill commented on #156
Hi! Yes, there is an example in the draft report. Did you find this?

[2016-09-03 18:18] Petessss commented on #161
@BuffaloWill I have added that script to the omnibus packages.

[2016-09-03 18:37] #155 closed

[2016-09-03 18:37] #153 closed

[2016-09-04 20:42] BuffaloWill commented on #161
Thanks @Petessss! Closing the issue, @yashar6909 please reopen if that doesn't work for you.

[2016-09-04 20:42] #161 closed

[2016-09-05 16:59] BuffaloWill opened #162 "config.json option of where to log serpico"
Right now logging is set to '/var/log/serpico.log', log file location should be an option in config.json

[2016-09-05 17:04] #156 closed

[2016-09-05 17:04] #151 closed

[2016-09-05 18:32] #162 closed

[2016-09-05 19:34] Petessss commented on #144
updates pushed.

[2016-09-05 19:34] #144 closed

[2016-09-05 19:34] Petessss commented on #147
Updates pushed.

[2016-09-05 19:34] #147 closed

[2016-09-05 19:35] Petessss commented on #134
In progress. Build a pkg file first then a dmg. Also dropping stuff in /opt/Serpico for now. This can be easily changed down the road.

[2016-09-06 06:11] harithanalluri opened #163 "Could not import all the Nessuss findings into Serpico"
Not able to see all the Nessus findings in Serpico UI

1. Trying to import findings from Nessus(.nessus XML file) to Serpico.
2. Some of the findings are missing in Serpico UI and subsequently in the Serpico report.
3. Eg: If I import 7 medium findings from a Nessus report, I could see only 6 in Serpico GUI (both in the Graph and also in the list of findings)
4. I did set 'auto import' and also ma

[2016-09-06 06:12] shalinich opened #164 "Affected hosts/urls not imported into report"
1. I am performing a network scan ,where  each IP would get a different set of vulnerabilities.
2. To generate a report I need Affected Hosts/URLs field to be imported into report.
3. Affected Hosts/URLs are displayed in GUI but not in the report.
4. Please let me know if there is any way to import Affected Hosts/URLs field to Serpico report

[2016-09-06 06:42] shalinich opened #165 "Nessus findings are not imported into Serpico"
1. All the findings from Nessus are not imported into Serpico.
2. If there were 7 findings then I could get only 6(number varies if has more findings).
3. Even these finding are not listed in Serpico GUI.
4. I want all the findings in Nessus to be imported into Serpico.
5. Let me know if I am missing something.

[2016-09-06 16:59] parag85 opened #166 "Unable to find docker image."
![docker_1](https://cloud.githubusercontent.com/assets/8840359/18283094/5449a390-7481-11e6-9f64-8a5f280f5802.JPG)

[2016-09-06 17:57] BuffaloWill commented on #166
hi @parag85! you have a typo. It should be
[code]
not
[code]

https://hub.docker.com/r/ncolyer/serpico/

[2016-09-06 17:57] #166 closed

[2016-09-06 18:43] Petessss commented on #165
@shalinich, Can you please provide more information about your setup, vuln mappings and whatnot? There is not enough information in your posts to help us figure out that the issue is.

Thanks.

[2016-09-06 18:44] Petessss commented on #163
@harithanalluri, Can you please provide more information about your setup, vuln mappings and whatnot? There is not enough information in your posts to help us figure out that the issue is.

Thanks.

[2016-09-06 18:46] Petessss commented on #164
@shalinich, check out the new Metasploit connector. see if that helps with your situation.

[2016-09-06 18:46] #164 closed

[2016-09-06 18:47] Petessss commented on #158
@harithanalluri if this is still an issue please reopen.

[2016-09-06 18:47] #158 closed

[2016-09-06 23:04] BuffaloWill opened #167 "Create wiki entry on init script usage"
Create wiki entry on init script usage

[2016-09-07 04:24] shalinich opened #168 "Screenshots are not generated in my report"
1. I followed the same instructions specified in wiki page for uploading screenshots,but I am unable to update them.
2. Screenshots were uploaded but cannot be imported into Serpico report.
3. I  tried uploading in different formats (.png,.jpg).
4. Filename is in simple text format.
5. While I am inserting [!! test.png !!]  in proof of concept field,It displays blank  in report.
6. Please let me k

[2016-09-07 04:49] shalinich commented on #165
vulnmap in configuration settings is unchecked.
Even if I check the vulnmap and  click on save ,it is still unchecked.
Rest all of the options in configuration menu were checked.
Let me know if I should configure anything else

[2016-09-07 09:01] shalinich commented on #165
I am importing a .nessus file and giving it as an input to generate report.
In configuration settings I checked all the check boxes including vulnmap,ssl e.t.c
I have downloaded the nessus file from some other system and uploaded it.
Is there any thing else I need to configure??

[2016-09-07 09:05] BuffaloWill commented on #165
Have you modified the threshold setting? This value should be set to 0.

If this doesn't solve the problem you will need to send a copy of your Nessus data for us to recreate the issue as it sounds specific to the data you are importing. Please redact the data before sending.

[2016-09-07 11:47] Petessss commented on #165
@shalinich, can you please git pull the latest code and try again? There was a fix on July 30 for a vuln map bug. (https://github.com/SerpicoProject/Serpico/commit/73d62de98bcb873cbc8a1cead1daa7f6796b7605)

Thanks

[2016-09-08 10:24] shalinich opened #169 "Metasploit RPC Connection"
1. How do we configure metasploit RPC connection in Serpico?
2. Which credentials should I give to establish a connection ?
3. Connection is not been established properly,I am unable to import findings from metasploit db??
4. Let me know how to establish a connection?

[2016-09-08 13:14] BuffaloWill opened #170 "Add Wiki Entry for Metasploit RPC Usage"

[2016-09-08 13:14] Petessss commented on #169
@shalinich, use the following to configure the Metasploit RPC connector under Serpico:
1) Logged in as an Administrator, Under the "Maintenance Menu" on the Left hand side of the screen, select "Modify Configuration"
2) Make sure "vulnmap" is enabled.
3) Next access the report for which you want to configure the Metasploit RPC connector for.
4) On the Left hand side select "Additional Features"
5)

[2016-09-08 13:14] #169 closed

[2016-09-08 13:21] BuffaloWill commented on #170
nm. @Petessss you rock.

https://github.com/SerpicoProject/Serpico/wiki/Draft-Setting-up-Metasploit-RPC-Connection

[2016-09-08 13:21] #170 closed

[2016-09-08 13:29] BuffaloWill commented on #163
@harithanalluri have you set the threshold setting in the configuration to 0? This will cause not all issues to be imported.

[2016-09-08 13:33] Petessss commented on #168
Looking into this issue.

[2016-09-08 17:34] chandooz opened #171 "Display Specific Finding"
If I wanted to display the information from one specific finding in the report, is there a way to do that? Say for example I have 5 findings, but I only want to display the name and description of one specific finding in a certain portion of the report.

[2016-09-08 18:41] chandooz commented on #168
I had this problem earlier. Are you doing this in Libre Office? If you are, it will be blank, but once I looked at it in Microsoft Word, it displayed the screenshot.

[2016-09-09 14:07] aconite33 opened #172 "Space In Report Title"
[Issue] - Creating a new report with a space in the title causes a dump.

Actions:
Create New Report
Set Title of report with a space, e.g., "New Report 101"

Result:
Web Application throws error. The new report is made however.

[2016-09-09 14:09] Petessss commented on #172
Can you please past the dump?

[2016-09-09 18:27] aconite33 commented on #172
Interesting, I just tried to reproduce this. I'll verify with a brand new install and see if I can get it to give me a crash.

[2016-09-09 18:40] aconite33 opened #173 "Informational is not an available risk level"
Modifying/editing a new finding, you cannot identify a risk as information. The only available levels are:

Critical
High
Moderate
Low

Yet the default template allows for informational (risk = 0).

[2016-09-09 19:03] Petessss commented on #172
Can you provide more info about your setup? Are you running the latest code? What OS are you running on? I entered the same information from your screenshot, but was unable to reproduce the crash.

[2016-09-09 19:20] aconite33 commented on #172
OS: Kali Linux, Rolling. x64
Ruby version: ruby 2.3.1p112 (2016-04-26) [x86_64-linux-gnu]
Serpico Version: Latest Git Pull

OS: Ubuntu 16.04 x64
Ruby version: ruby 2.3.1p112 (2016-04-26) [x86_64-linux-gnu]
Serpico Version: Latest Git Pull

[2016-09-09 19:23] Petessss commented on #172
A, can you try with ruby 2.1.5. Serpico has not be tested with Ruby 2.3.1.

[2016-09-09 19:26] aconite33 opened #174 "[Feature Request] Apply Markup to UDV's"
It would be useful to be able to add a custom section in a template under findings.

E.g., There is a "note section" under the finding. I'd like to create a section called "Tools Used" where I can list the tool and procedure used to identify/exploit the finding. Then in the template report, I could call that section using a custom user defined variable.

This would allow authors to create multiple

[2016-09-11 12:21] BuffaloWill commented on #174
@aconite33 thanks for the submission. Have you tried adding markup to a finding? For example adding to the overview section of a finding:

[== Tools Used ==]
SQLMap

Will render a section header with tools used in the report. The MS Word style is applied at the template level.

<img width="495" alt="markupinformation" src="https://cloud.githubusercontent.com/assets/1125757/18417250/5f887a40-77f8-1

[2016-09-11 12:25] BuffaloWill commented on #173
IIRC 0 (Informational) was removed because it was causing issues with score conversions to other metrics. Let me take a look at this again.

reference for later:
findings_edit.haml (ln 296)

[2016-09-11 12:26] #172 closed

[2016-09-11 12:27] BuffaloWill commented on #171
Thanks @chandooz. You should be able to do this with a string comparison but need to test. I think this will tie in with https://github.com/SerpicoProject/Serpico/issues/121

[2016-09-11 12:29] BuffaloWill commented on #168
@shalinich, as @chandooz pointed out, are you working in Word? LibreOffice is not supported.

[2016-09-11 12:30] BuffaloWill commented on #165
@shalinich -- Have you updated to the latest code and modified the threshold? Please re-open if this is still an issue.

[2016-09-11 12:30] #165 closed

[2016-09-11 12:30] BuffaloWill commented on #163
@harithanalluri -- Have you updated to the latest code and modified the threshold? Please re-open if this is still an issue.

[2016-09-11 12:30] #163 closed

[2016-09-11 12:30] BuffaloWill commented on #168
Closing for now, please re-open if this is an issue.

[2016-09-11 12:30] #168 closed

[2016-09-12 10:55] aconite33 commented on #174
I haven't tried that yet. The feature came out of the fact that I'd like to call specific sections in my report. For example, I'm building a table out that I'd like to have a row dedicate to "Tools Used". I can't enter data directly in there via markup (or from your suggestion, listing the entire section that contains the markup). Having customization would allow me to call out only specific secti

[2016-09-12 12:27] chandooz commented on #171
Okay sounds good.

[2016-09-12 14:30] jstangle opened #176 "Inserting Screenshot doesn't work"
Hi guys,
maybe I made some mistake, but I exactly do the same [here](https://github.com/SerpicoProject/Serpico/wiki/Inserting-Screenshots).

To the point... I have got a file "test.png" that I uploaded to serpico as an attachment with file description "test.png". In some findings of identical report I inserted "[!! test.png !!]" to the frame with label "Proof of Concept". After the generating repo

[2016-09-12 14:37] Petessss commented on #134
done and in testing.

[2016-09-12 14:40] #134 closed

[2016-09-12 14:43] Petessss commented on #133
blocked by zipruby. Need to look at swapping out zipruby for rubyzip.

[2016-09-12 14:44] Petessss commented on #58
this would be great for the new plugin design.

[2016-09-12 14:44] BuffaloWill commented on #176
@jstangle could you confirm that you are using Microsoft Word? LibreOffice isn't supported.

[2016-09-12 14:44] Petessss commented on #132
@ccammilleri is this still an issue?

[2016-09-12 14:59] Petessss commented on #176
Looks like there is an issue with processing the newline.
Does not work:
test
[!! image.png!!]

Works:
test [!! image.png !!]

We are looking into the issue.

[2016-09-12 15:23] jstangle commented on #176
@BuffaloWill I would confirm it, I checked it also in Microsoft Word.
@Petessss I quickly tried "test [!! image.png !!]" although nothing changed.
Thanks for your time.

[2016-09-13 08:20] #176 closed

[2016-09-13 11:38] shalinich opened #177 "Adding Affected Hosts/URLs in Serpico report"
Affected hosts/URL s are displayed in preview of vulnerability .
I want the same field in Serpico report also.
Can we add it by using meta language.
My report would be incomplete without Affected Hosts/URL s field
Please let me know if I am missing any thing AND let me know if I can modify the base template

[2016-09-13 12:36] Petessss commented on #177
@shalinich, you will need to add the following meta language to the preview template and report template.

<img width="287" alt="affected-hosts" src="https://cloud.githubusercontent.com/assets/16560500/18473834/a5329af2-7984-11e6-97c8-d1dd1b5f125b.png">

For more information on the meta language please see https://github.com/SerpicoProject/Serpico/wiki/Serpico-Meta-Language-In-Depth.

Please reope

[2016-09-13 12:36] #177 closed

[2016-09-13 14:33] aconite33 opened #178 "Log LDAP Authentication Errors"
Is there a way to turn on verbose logging? I'm trying to get LDAP (Active Directory) authentication to work, but I want to see the errors to find what authentication problems I'm having.

[2016-09-13 19:23] BuffaloWill commented on #178
hi @aconite33. There is only one level of logging and IMO it's already verbose. That being said, this issue seems specific to LDAP auth. Reviewing the code, Serpico silently fails on an LDAP auth failure. We should be writing the LDAP auth error to the logs.

[2016-09-13 20:11] BuffaloWill opened #179 "Split Routes into Multiple Files"
Currently all routes are contained in one file. These need to be split into multiple files. Tracking this in branch RouteSplit

[2016-09-13 20:18] aconite33 commented on #178
Roger. Change in title is fine.
For setting up LDAP correctly, I'm using:
ldap_domain: domain.com
ldap_dc: domain_controller.domain.com

That should allow me to authenticate to LDAP (Active Directory type)?

[2016-09-13 20:19] BuffaloWill opened #180 "Implement Test Cases via Rack::Test or RSpec"
Serpico has no test cases. Rack::Test seems like a good option.

This issue should cover:
- Add support for Rack::Test or Rspec
- Implement simple test case to verify authentication

[2016-09-13 20:31] BuffaloWill commented on #178
That should be correct. The port is hardcoded to 636 and requires SSL.

[2016-09-13 21:32] bandrel opened #181 "Default findings template uses <<COMPANY>> instead of <<CUSTOMER>>"
The default finding templates for "Excessive Ingress Rule Set" and "Open Mail Relay Identified" use `&lt;&lt;COMPANY&gt;&gt` instead of `&lt;&lt;CUSTOMER&gt;&gt`

This causes the <<COMPANY>> to be left unreplaced in the final report.

[2016-09-14 00:02] BuffaloWill commented on #181
Landed.

[2016-09-14 00:02] #181 closed

[2016-09-14 07:12] shalinich commented on #177
If I modify the content in template,then generate report is displaying the below error,even if I am modifying that with original template it is displaying the below error.

**Error!! Check the process dump for the error or turn show_exceptions on to show in the web interface.**

How do i rectify this error???

[2016-09-14 11:31] shalinich opened #183 "Adding Affected Hosts/URLs in Serpico report"
If I modify the content in template with below content,

**Affected hosts**
**π  affected_hosts/paragraphπ**

Then generate report is displaying the below error,

**Error!! Check the process dump for the error or turn show_exceptions on to show in the web interface.**

How do i rectify this error???

[2016-09-14 12:04] Petessss commented on #183
That usually means you have something wrong with your markup. Two questions:
1) Are you using Microsoft Word?
2) Are there any errors on the console or error log when you generate the report?

[2016-09-14 20:19] aconite33 commented on #178
Hmm, I've got that configuration set, and Port 636 is open from Seprico Server -> AD and no joy. Do I need to login with something like DomainName\UserName? Or just UserName? Both are not working.

[2016-09-14 23:12] BuffaloWill commented on #178
just username is good, the code concats the domain for you (e.g. domain\user)

[2016-09-15 12:49] jstangle commented on #183
I would recommend you edit it just in Microsoft Word. LibreOffice could make there some mistakes. I added this to template and it works well:

**Affected Hosts/URL
¬affected_hosts/paragraph¬ µzzzzµ π.π
÷ π.π ≠**

Let try it.

[2016-09-15 14:09] BuffaloWill commented on #183
@jstangle, good find on the references issue. The references requiring multiple lines is a bug; I'll create a separate issue to track it there.

@shalinich LibreOffice is not supported. Attempting to upload a template created in LibreOffice will be a mess.

[2016-09-15 14:11] BuffaloWill opened #185 "References Does Not Auto Insert Paragraph Element"
Most of the fields in a finding auto-insert a paragraph element if the user does not include one. The references field does not. The result is that references will not show up in the report unless a new line is added to the references.

Developer Reference:
https://github.com/SerpicoProject/Serpico/blob/master/helpers/helper.rb#L38

[2016-09-15 14:12] BuffaloWill commented on #185
From @jstangle; https://github.com/SerpicoProject/Serpico/issues/183

[2016-09-15 14:12] #183 closed

[2016-09-15 16:22] aconite33 commented on #178
Okay, gotcha. I can't seem to get mine to work. So having the logging of the LDAP auth would be helpful to determine what is causing my error.

[2016-09-15 16:26] aconite33 opened #186 "Encryption - Client Data"
Does Serpico have any encryption of the client data/report? It would be nice if we could state that our reporting utility that houses client data is stored in an encrypted / protected format.

[2016-09-15 17:04] aconite33 opened #187 "Local User Cannot Change Their Password"
After a user is created (local user), they do not have options to change their password.

[2016-09-15 17:07] aconite33 opened #188 "Modifying A User's Role Resets Their Password"
When modifying/editing a user, if you change their role, e.g., from user to Admin, their password no longer works. Requires the user to be reset.

[2016-09-15 18:14] BuffaloWill commented on #186
hi @aconite33, the expectation is that the user maintains the Serpico dir as encrypted or with FDE. If you are on Kali, this should be handled for you. Personally, I use cryptsetup to (un)mount and FDE for the drive.

[2016-09-15 18:14] #186 closed

[2016-09-15 18:17] BuffaloWill commented on #188
@aconite33, let me look into this. I'll update the issue.

[2016-09-15 18:32] BuffaloWill opened #189 "update default logo"
Update the logo in master

[2016-09-15 18:36] aconite33 opened #190 "[Feature Request] Add Editor Role"
Add Editor role that has the following permissions:

1) Can Edit all reports currently listed
2) Can Add/Remove/Modify findings to the template database
3) Can Add/Modify Templates

[2016-09-15 18:40] aconite33 opened #191 "[Feature Request] Add appendix section"
Add the ability to add a section dedicated to the appendix. This can be a home for screenshots, logs captured, any data that can be referenced in the document but displayed at the end of the report.

[2016-09-15 18:57] bandrel opened #192 "Unable to set show_exceptions from config.json"
in order to enable show_exceptions you have to modify the ruby code.  This should be a configurable setting within the config.json

[2016-09-16 00:35] BuffaloWill commented on #192
thanks @bandrel. Good call.

[2016-09-16 00:53] BuffaloWill commented on #190
This has been discussed before and decided not to implement.

Do you know about the collaboration for reports? A user (or admin) can add other users to a report.  This would cover 1. Doesn't help with 2 and 3 though.

I'll leave this as an enhancement and we'll vote on the team.

[2016-09-16 01:12] BuffaloWill commented on #187
@aconite33 good point. This should make it in soon.

[2016-09-16 01:12] BuffaloWill commented on #188
Confirmed.

[2016-09-16 11:11] aconite33 commented on #190
The way we've approached this is, we would have a technically writer apart of our team. He would be the one that would review/edit reports and their findings to make sure their up to snuff. They don't need the full rights as an admin (changing configuration of the server, being able to add users, etc.), but would have enough rights to see all the reports with modify rights.

Another feature which

[2016-09-16 11:45] aconite33 opened #194 "[Feature Request] Risk Calculator"
A neat feature would be a risk calculator, so you could assign risk to a finding. If for example, you're using DREAD or CVSS, you could have a side calculator that you could plug in the appropriate risk metrics, and output the score.

Something similar to this: https://nvd.nist.gov/CVSS/v3-calculator

[2016-09-16 11:50] aconite33 opened #195 "Cancelling an edit on a finding takes you back to the list of reports"
Workflow: Editing/reviewing findings on a report -> Edit a finding to review the specific details -> Review details, did not modify, hit cancel -> Brings you to the list of reports.

This should return to the previous page, the list of findings in the reports. Instead it brings you to the list of Reports.

[2016-09-16 12:59] jstangle opened #196 "HTTPS - CA certificate, chain"
Hi guys,
It's pretty difficult to solve the small issue around https connection. I have got public key, signed certificate by official CA and all of these are imported to the same directory as previous. However for well working SSL connection I need import CA certificate, its chain. I suppose there was't anyone. Could you give me an advice where to put it please? Is it implemented? Thanks. :)

[2016-09-16 18:40] BuffaloWill commented on #174
in conversations with @aconite33 on IRC, applying markup to UDV's would be helpful.

For example a UDV should support bullets or paragraphs:
[code]

[2016-09-16 19:05] BuffaloWill commented on #185
Should fix this for notes also.

[2016-09-17 06:54] shalinich commented on #183
Thanks for the reply.Its working fine now using Microsoft word.

[2016-09-17 10:12] shalinich commented on #168
Thanks for the reply,Screenshots are working fine using Microsoft Word

[2016-09-19 13:20] bandrel opened #198 "Add Attachments in Bulk"
It would be nice to be able to add attachments in bulk.

[2016-09-19 13:21] bandrel commented on #198
Or maybe for the second one if the field is blank, just use the file name as the description.

[2016-09-19 13:35] BuffaloWill commented on #194
Need to think on this one a bit. The code is there, just about finding a spot for it in the workflow.

[2016-09-19 13:36] BuffaloWill commented on #195
Confirmed.

[2016-09-19 13:37] BuffaloWill commented on #196
@jstangle did you get this figured out?

[2016-09-19 13:39] BuffaloWill commented on #198
Thanks @bandrel. There are definitely a few updates to make regarding attachments and workflow for image inserts. This is two features. Could you create a second one "Automatically Set File Description Field in Attachment Upload"?

[2016-09-19 13:50] bandrel opened #199 "Automatically fill in the "File Description" field for attachments"
Automatically fill in  the description field for attachments or if the field is left blank, use the filename for the the File Description.

[2016-09-19 13:51] BuffaloWill commented on #199
Thanks!

[2016-09-19 14:48] bandrel opened #200 "Add ability for screenshots to be included in presentation"
The syntax [!! filename.png !!] when added to the presentation data section of the finding does not inject images into the presentation.

[2016-09-19 15:33] bandrel commented on #200
I did find a workaround for this safe off the html file and then run sed against the file:

sed -ri 's/\[\!\!\ (\S+) \!\!\]/<img src="\1">/' Example_Report_Presentation.html

There is an annoying bullet next to the image, but then again it's just a workaround.

[2016-09-19 17:06] jstangle commented on #196
I'm talking about
"ssl_certificate": "cert.pem",
"ssl_key": "key.pem",
Existed in /opt/Serpico/Serpico

For well working https I need include certificate of CA. Is it possible to add it any way? Or Am I still out?

[2016-09-20 05:14] shalinich opened #201 "Download presentation as PDF"
Can we generate a Powerpoint presentation using Serpico.
I could generate presentation, but I cant see any option to download it.
Can  you please let me know if there is any such feature??

[2016-09-20 05:24] shalinich opened #202 "Particular findings were not generated in the Serpico report"
I have generated some reports using Serpico.I could observe that some findings were repeatedly missing from my report.
For eg: One of the finding is
**IP forwarding enabled**
I couldn't understand why they were specifically missing from my report.
Everything in configuration is set to true,Is there anything that I was missing?
Please let me know.

[2016-09-20 13:44] bandrel opened #203 "Move config.json to config.json.defaults"
Move config.json to config.json.example and have /opt/Serpico/init_serpico.sh copy the config.json.example to config.json.

This way you can stop tracking config.json within git.  I have an updated config.json file and I am unable to do a git pull without merging the files and correcting the conflicts.

[2016-09-20 13:46] Petessss commented on #203
@bandrel thanks for the suggestion. I'll make that update in the next release.

[2016-09-20 13:51] Petessss commented on #202
@shalinich, off the top of my head I can think of two reasons this is happening. 1st, there is an issue in the markup in one of your findings. It's usually the finding before the one thats not being created. 2nd, in your template the findings loop may not account for the score of the finding.

Is it possible for you to share a sanitized version of your template or just the part that loops over the

[2016-09-20 13:53] Petessss commented on #201
@shalinich pull request https://github.com/SerpicoProject/Serpico/pull/149 should address this this request.

[2016-09-20 14:03] Petessss commented on #196
@jstangle, adding something like this to helpers/sinatra_ssl.rb may fix your issues.
intermediateCert = File.open(intermediate.crt).read
server_options[:SSLExtraChainCert] => OpenSSL::X509::Certificate.new (intermediateCert)

If this does not work let me know.

[2016-09-20 14:03] #196 closed

[2016-09-20 14:52] bandrel opened #204 "Positive Findings"
Many times in reports we like to include positive findings so that the organization can reflect on the good things that they have been doing.  Would it be possible to add a Positive finding section?

[2016-09-20 16:03] Petessss commented on #204
@bandrel, that should be possible by modifying your template and adding a Positive findings section.

[2016-09-20 16:03] #204 closed

[2016-09-20 17:24] jstangle commented on #196
Thanks. That's it. :)

[2016-09-20 17:29] bandrel commented on #204
Ok.  I understand what you are saying, but I am having trouble with the syntax.
I want to iterate through the findings where the type is "Positive".  What is wrong with the following syntax?
[code]

[2016-09-20 17:55] BuffaloWill commented on #204
Hey @bandrel, you should be able to do a string comparison to get positive findings as discussed in

https://github.com/SerpicoProject/Serpico/wiki/Parsing-by-Assessment-Type-or-Performing-a-String-Comparison-in-a-Report

String comparison should get easier soon, but that's how it is done for now.

[2016-09-20 18:42] bandrel commented on #204
Thank you, I can't believe I completely missed that section of the wiki.  Thanks for being prompt with the response

[2016-09-21 03:57] shalinich commented on #201
I am not able to generate any presentation after using pull request 149.It is generating blank screen
Can you please suggest me If there were any other updations

[2016-09-21 08:30] shalinich commented on #202
¬report/findings_list/findings:::risk<3¬
 
† risk = 2 †
πtitleπ
Risk
MODERATE

¥
† risk = 1 †
πtitleπ
Risk
LOW

¥
† risk = 0 †
πtitleπ
Risk
INFORMATIONAL

¥
Summary
¬overview/paragraph¬ µzzzzµ π.π
ƒcodeƒπ.π
ƒitalicsƒπ.π
•	ƒbulletƒ π.π
ƒh4ƒ π.π
÷ π.π ≠
Proof
πpoc/paragraphπ
Affected Hosts/URL

¬affected_hosts/paragraph¬ µzzzzµ π.π
÷ π.π ≠

Remediation
¬remediation/paragraph¬ µzzzzµ π.π
ƒcodeƒπ.π
ƒi

[2016-09-21 17:46] aconite33 opened #205 "[Feature Request] Finding Enabled/Disabled"
Would be useful if you were drafting a report and you don't agree if a finding should be included, if you could turn a finding "On/Off" or "Enabled/Disabled". Similar to how you submit a finding to the database, but it hasn't been approved yet.

Use case: Haven't confirmed finding is a false positive yet, but want it in the report so other authors/penetration testers can see the finding and valida

[2016-09-22 22:02] vipergts46 opened #206 "Issues connecting to Metasploit RPC connection"
I've tried to start up Metasploit RPC two ways. One from within metasploit using `load msgrpc` and from the cli from root user using `msfrpcd -U $username -P $password -a 127.0.0.1 -p 5432`

I went into Administration > maintenance menu > Modify Configurations and checked vulnmap * auto_import

restarted Serpico
Configured the RPC in Serpico

When I try to import the DataBase Serpico shows the fol

[2016-09-24 15:10] BuffaloWill commented on #205
@aconite33, there is a status setting for findings; confirmed, unconfirmed. This can be used to optionally display findings in a report.

[2016-09-26 13:54] BuffaloWill commented on #206
@ccammilleri - any troubleshooting steps you would recommend?

@vipergts46 - were you able to get this working?

[2016-09-26 13:56] BuffaloWill opened #207 "Update README for Installers and Logo Credit"
A couple of updates to README need to be completed:

- Installing on Windows with RailsInstaller
- Installing on Mac with Release build
- Update Logo Credit for @ccammilleri

[2016-09-26 13:57] #205 closed

[2016-09-26 18:58] Petessss commented on #202
@shalinich, I'm going to have to lab this one up and check it. Stay tuned for updates.

[2016-09-26 20:39] BuffaloWill commented on #206
Closing this; fixed on IRC. For future reference, Ruby 2.3.x breaks this functionality. Make sure a valid Ruby version is being used.

[2016-09-26 20:39] #206 closed

[2016-09-28 15:00] #207 closed

[2016-09-28 15:02] BuffaloWill commented on #202
E-mail support is available for template related questions, closing.

[2016-09-28 15:02] #202 closed

[2016-09-28 15:32] BuffaloWill commented on #203
I added a config.json.defaults and  updated the first_time.rb script to perform the copy for the user. So this should take care of creating configuration on first run. config.json is no longer tracked by git also.

[2016-09-28 15:32] #203 closed

[2016-09-28 15:32] BuffaloWill commented on #192
Landed.

[2016-09-28 15:32] #192 closed

[2016-09-28 15:32] BuffaloWill commented on #189
Landed.

[2016-09-28 15:32] #189 closed

[2016-09-28 15:33] BuffaloWill commented on #179
Landed.

[2016-09-28 15:33] #179 closed

[2016-09-28 15:33] BuffaloWill commented on #167
Added to README.

[2016-09-28 15:33] #167 closed

[2016-09-28 15:34] BuffaloWill commented on #171
No longer handling this through GH. E-mail support or IRC can help for specific template questions.

[2016-09-28 15:34] #171 closed

[2016-09-28 15:34] #132 closed

[2016-09-28 15:46] BuffaloWill commented on #195
Landed.

[2016-09-28 15:46] #195 closed

[2016-09-28 18:40] BuffaloWill commented on #176
This is a template issue. The default template does not iterate paragraphs. You must update the meta language in the Proof section to iterate paragraphs like the other sections.

[2016-09-28 23:26] BuffaloWill opened #208 "Update Default Templates to Iterate POC and References"
## Feature Request
The default templates do not currently iterate Proof, References, or Affected Hosts. One impact of this is that screenshots in the proof will not appear unless the user updates the template.

This feature should standardize all templates to iterate these fields.

[2016-09-29 11:35] shalinich opened #209 "Administration and Findings Database were missed in my Serpico GUI"
I installed the latest version of Serpico from github,and I identified that Adminstration ,Findings database ,admin report templates were missing.
Please let me know what am I missing

[2016-09-29 12:16] BuffaloWill commented on #209
@shalinich, please use the issue template.

## Describe the issue and steps to reproduce

1. ...
2. ...

[2016-09-29 17:19] BuffaloWill commented on #201
Should be fixed now. Committed in https://github.com/SerpicoProject/Serpico/commit/9f76c18d1b3b88ab587b396fef63852d2ac096c9

[2016-09-29 17:19] #201 closed

[2016-09-29 17:19] BuffaloWill commented on #148
Landed in https://github.com/SerpicoProject/Serpico/commit/9f76c18d1b3b88ab587b396fef63852d2ac096c9

[2016-09-29 17:19] #148 closed

[2016-09-29 18:57] #198 closed

[2016-09-29 18:58] BuffaloWill commented on #199
Removed the file description field for now, seems redundant. The name of the file is now inherited, should be a faster workflow.

Landed in https://github.com/SerpicoProject/Serpico/commit/88c80314ae3b5d2b557b96f7a14d59366b5d2407

[2016-09-29 18:58] #199 closed

[2016-09-29 19:42] BuffaloWill commented on #185
Landed, notes not included.

[2016-09-29 19:42] #185 closed

[2016-09-29 19:49] BuffaloWill commented on #208
Landed in https://github.com/SerpicoProject/Serpico/commit/c72ac04791db3853ae8248c71c41e5b82176ab3c

[2016-09-29 19:49] #208 closed

[2016-09-29 20:00] BuffaloWill commented on #188
Landed in https://github.com/SerpicoProject/Serpico/commit/e70ac1b13abc702cd64b8af8f5cef4f4b8fff09a

[2016-09-29 20:00] #188 closed

[2016-09-29 20:00] BuffaloWill commented on #209
Closing, please re-open if this is still an issue. Thanks!

[2016-09-29 20:00] #209 closed

[2016-09-30 10:08] nv1t opened #210 "[Feature Request] Multiple Pocs for one finding"
Hey Guys,

We write our Pentest reports with Multiple PoCs for one finding.
Like:
[code]
and so on, because the report is not that bloated for multipled findings. A developer doesn't need to read the mitigation all over again and the reports are much smaller with the same information.

It would be nice to support multiple PoCs.

[2016-09-30 15:49] jacksonfylle opened #211 "Encoding CompatibilityError [bug]"
Hello,
I have found a bug when i'm editing a finding with specials characters.
## Bug
Describe the issue and steps to reproduce

1. Create a finding
2. In the overview section write some characters (french characters) like "é,è" etc..
3. Save the finding
4. Edit the finding

[code]

[code]
[code]

Thanks for this project.

[2016-09-30 16:25] BuffaloWill commented on #210
@nv1t thanks for the submission. Multiple PoCs can be done combining the [finding markup](https://github.com/SerpicoProject/Serpico/wiki/Finding-Markup) and a for loop inside of PoC. The updated Generic Risk Score Template included with project has an example of a for loop in the Proof section.

[2016-09-30 16:32] BuffaloWill commented on #211
@jacksonfylle I am having trouble reproducing this. Are you on the latest version of Serpico? What version of Ruby are you using?

[2016-10-01 12:51] nv1t commented on #210
Yes. do able, but not super friendly :-/ using the PoC field to write multiple PoCs is kinda messy.
I thought about using multipe findings and combining them later with markup language.

But: as much as i understand the code, it should be possible to support multiple PoC fields.
from the database structure it could be: PoC as finding and use simple field to say it is only a PoC with it's parent or

[2016-10-02 13:54] BuffaloWill commented on #210
@nv1t understandable. With the intro of split routes we are starting to put together a plugin architecture so that users can modify the workflow specific to them. The idea is that every consultancy has a slightly different workflow and Serpico is meant as a scaffold to the reporting process.

In this case the plugin would override the finding edit/new route and add a simple table for multiple pocs

[2016-10-02 15:00] jacksonfylle commented on #211
Hello, thanks for you're reply.

[code]

[2016-10-02 15:08] jacksonfylle commented on #211
I have just delete the forlder /opt/Serpico and reinstall and it's all good.
Sorry about that

[2016-10-02 15:08] #211 closed

[2016-10-02 23:06] Petessss commented on #133
done.

[2016-10-02 23:06] #133 closed

[2016-10-03 07:57] shalinich opened #212 "Download presentation in form of PDF"
Download presentation in the form of PDF
1.Installed latest version of Serpico
2.If I click on generate presentation in pdf option,it is generating blank page
3.Please suggest me if I am missing something

[2016-10-03 08:04] shalinich opened #213 "Inserting screenshots and content"
# Inserting screen shots and content

-------------------
## Bug
While I was trying to insert screen shots and content only first line of code is visible to end user

1.If I insert code such as
Proof of concept
[!!test.png!!]
XXXXXX
2. It is generating only first line of code.
3.Please let me know if I am missing something??
4.Is there any problem with version of Microsoft word that I am using.

[2016-10-03 12:42] BuffaloWill commented on #212
@shalinich what browser and version are you using?

[2016-10-03 12:47] BuffaloWill commented on #213
@shalinich this is an issue with your report template. Please import the "Serpico - GenericRiskScoring.docx" template as a new report type or overwrite the current Generic Risk template. If you create a new report type then you will need to make sure and update the report template associated with the report.

[2016-10-03 12:49] BuffaloWill commented on #212
@shalinich please confirm that you have completely updated your instance. This sounds like an older version of JS causing this. Also, you will need to "Print" > "Save as PDF" in your browser to get a PDF copy of the slides.

[2016-10-04 00:12] BuffaloWill commented on #187
Landed.

[2016-10-04 00:12] #187 closed

[2016-10-04 07:02] shalinich opened #214 "Include graph in the Serpico Report"
## Include Graph in Serpico report

Serpico report is generating all the vulnerabilities in the report,additionally if graphical representation is present then it would be an added functionality.

[2016-10-04 07:33] parag85 opened #215 "Unable to clone Repo"
Unable to clone Serpicon Repo to my machine.

Steps:
1. git clone https://github.com/SerpicoProject/Serpico.git

Following error comes:

![serpico](https://cloud.githubusercontent.com/assets/8840359/19065762/f8c32cd6-8a32-11e6-9b3a-3c1d82cbaceb.JPG)

![serpico-1](https://cloud.githubusercontent.com/assets/8840359/19072689/356a989c-8a54-11e6-89b2-90699621b0ac.JPG)

[2016-10-04 09:07] shalinich commented on #213
Thanks for the reply,I modified the report accordingly and it is working fine now

[2016-10-04 12:32] #213 closed

[2016-10-04 12:36] Petessss commented on #215
@parag85, In the first screenshot you're pulling from the wrong repo.  Your second error appears to be an SSL issue. Please make sure your version of git and openssl are updated.

[2016-10-04 12:36] #215 closed

[2016-10-04 20:16] #212 closed

[2016-10-06 14:50] daudmalik06 opened #216 "Remove Findings"
Describe the issue and steps to reproduce
it remove multi findings of same kinf  e.g 2 sqli in same report

steps:
i have add the sqli from finding list and then addes again
when i generated the report it deleted them both
Thanks

[2016-10-06 15:06] Petessss commented on #216
@daudmalik06, do other findings show up ok? If you create a report with just one finding that is not SQLi does it print out ok. If so, then you have an issue with the markup in the SQLi finding.

[2016-10-06 15:29] daudmalik06 commented on #216
it's happening with other types too , reporting coming out empty just basic
info written on it.

On Thu, Oct 6, 2016 at 5:06 PM, Peter <notifications@github.com> wrote:

[2016-10-06 15:44] daudmalik06 commented on #216
i just re installed and it started working ,the problem appeared when i
made some custom findings,

On Thu, Oct 6, 2016 at 5:29 PM, Daud Malik <daudmalik06@gmail.com> wrote:

[2016-10-06 15:46] BuffaloWill commented on #216
@daudmalik06 this could be caused by a break in markup inside of your custom finding also. For example adding "[==" but not including the closing tag of "==]" can break the rest of the findings in the report.

[2016-10-06 15:47] daudmalik06 commented on #216
oh yeah that could be thanks anyway , but if it happens it should be fix right , it should tell there is some error in blabla findings
Regards

[2016-10-06 15:52] BuffaloWill commented on #216
No, the application will tell you if it the markup is incorrect (see https://github.com/SerpicoProject/Serpico/issues/146).

It should be obvious though because the report will look completely wrong (margins incorrect, etc.).

[2016-10-07 11:18] nv1t commented on #210
Sounds like a pretty good idea. Do you have any eta? Or dev branch so some could work in plugins and support? :)

[2016-10-07 13:23] Petessss commented on #210
@nv1t you can checkout the PluginTesting branch.

https://github.com/SerpicoProject/Serpico/tree/PluginTesting

[2016-10-07 13:59] daudmalik06 opened #217 "missing Affected Url"
Hello
i generated report everything was okay but was missing Affected Url for all kind of findings
Thanks

[2016-10-07 14:18] #216 closed

[2016-10-07 14:21] BuffaloWill commented on #217
Hi @daudmalik06. This sounds like a problem with your report template.

Please use the required Github Issue template in the future when submitting an issue. Closing.

[2016-10-07 14:21] #217 closed

[2016-10-07 14:22] BuffaloWill commented on #214
Though a graph would be nice, the engineering effort outweighs the scope and goals of this project. Thank you for your submission.

[2016-10-07 14:22] #214 closed

[2016-10-07 14:52] daudmalik06 commented on #217
i am using the default template called generic risk scoring ,
i haven't edit or modified that.

[2016-10-07 15:11] Petessss commented on #217
@daudmalik06, please use the following template when submitting issues:

# Please fill out the Bug Form or Feature Request Below

-------------------
## Bug
Describe the issue and steps to reproduce

1. ...
2. ...

[2016-10-07 15:58] BuffaloWill opened #218 "Metasploit Connector Wiki Page"
## Feature Request

Screenshots and more information need to be added to https://github.com/SerpicoProject/Serpico/wiki/Draft-Setting-up-Metasploit-RPC-Connection

[2016-10-07 16:27] BuffaloWill commented on #180
There are tests already in the test directory. This leaves a lot to be desired including authentication.

[2016-10-09 14:49] jacksonfylle opened #219 "Substitution user defined variables inside a loop."
Hello,
## substitution user defined variables inside a loop.

I'am unable to substitute a user variable inside the findings section of the report :

¬report/findings_list/findings:::risk¬
§my_executive_summary§
∆

Thanks for you're help

[2016-10-10 11:11] daudmalik06 commented on #217
1:I clicked on New Report "https://localhost:8443/report/new"
2:filled basic info names etc and report type options i didn't touch it was pre selected as "default template - generic risk scoring"
3:then i saved it and app redirected me on another page "https://localhost:8443/report/4/edit"
4:i clicked on save and then on "Add finding from tempelates" from there i selected sqli and save
5:then app

[2016-10-10 13:19] BuffaloWill commented on #217
@daudmalik06 I can see from the screenshot there is no affected urls section to your template. You will need to have this section in the template or it will not appear in the report.

Make sure you have downloaded the latest version of Serpico or download the template from

https://github.com/SerpicoProject/Serpico/blob/master/templates/Serpico%20-%20GenericRiskScoring.docx

Open up the template a

[2016-10-10 13:25] daudmalik06 commented on #217
@BuffaloWill  thanks for kind reply,
i have downloaded the latest one and i think it was an executable program which installed the serpico app automatically and yes i can see "affected url" in UI of the app , i had added the url's there but still can't see in report i don't know why.

[2016-10-10 13:38] daudmalik06 commented on #217
and now i tried to update the template as suggested by you , but still same error

[2016-10-10 19:57] ccammilleri commented on #218
completed

[2016-10-10 19:57] #218 closed

[2016-10-12 14:53] roobixx opened #221 "Bulk Findings assignment by Assessment Type"
Would like to have the ability to assign Findings to assessment types in bulk.

Use Case:
Currently using Nessus XML to import findings but have to select each finding manually to assign them to the assessment type. Would like to be able to do a bulk selection and assignment for findings.

[2016-10-12 21:16] jacksonfylle opened #222 "If statement inside a table inside a loop."
## If statement inside a table inside a loop.

Hello,
In my report the findings or sort by type :
¬report/findings_list/findings:::risk:::translate(type,$up,$low)=translate('logical flow',$up,$low)¬
...
∆
¬report/findings_list/findings:::risk:::translate(type,$up,$low)=translate('injection',$up,$low)¬
...
∆

Inside of each loop there is a table :

![image](https://cloud.githubusercontent.com/asset

[2016-10-12 21:37] jacksonfylle commented on #222
By changing the database schema it's seems to work (except of the risk)

[2016-10-13 17:03] ccammilleri commented on #222
notes for tshooting: This might be related to case conversion functions. I seem to recall running into something similar but I never did investigate fully...I could also be wrong and this might be a different issue...worth noting either way.

[2016-10-13 17:08] ccammilleri commented on #221
@roobixx glad to see you're using Serpico! If we were to support bulk editing of findings is there any other fields you'd like to see supported?

Are you using the auto_import function to automatically generate findings from nessus xml?

[2016-10-13 17:17] roobixx commented on #221
We are loving Serpico! It has greatly streamlined our reporting process and time.

We use the auto_import function almost exclusively right now. Right now we have hacked together the ability to select which assessment_type the XML file is related to on upload so that the findings are prepopulated with the assessment_type. This is working well for us right now but its not very clean in terms of cod

[2016-10-25 15:45] QChabert opened #223 "The style of paragraph changed between the report template and the generated report"
Hi,

I'm using Serpico to generate a report, but I'm having a problem because the style is not kept between the report template and the generated report.
Indeed, for this kind of substitution fields {@overview}, the substitution function only keeps one style of paragraph where the {@overview} markup is present.
I explain : I'm supposed to have one overview paragraph in font-size 8 and another one

[2016-10-27 02:17] BuffaloWill opened #225 "Ability to add plugins through UI"
## Ability to add plugins through UI

This feature would provide the ability to add plugins through the UI as an administrator. Right now, it is required to add through the CLI.

I think it makes the most sense to upload as a zip.
### Example Use Case

"As a user I would like to be able to add plugins through the UI"

[2016-10-27 02:18] BuffaloWill commented on #210
This should be moved as an issue to https://github.com/SerpicoProject/SerpicoPlugins. Closing here.

[2016-10-27 02:18] #210 closed

[2016-10-27 02:19] BuffaloWill commented on #194
This should be added to the plugin project. Easy enough to add. Closing here.

https://github.com/SerpicoProject/SerpicoPlugins

[2016-10-27 02:19] #194 closed

[2016-10-27 02:53] #146 closed

[2016-10-27 03:41] BuffaloWill commented on #223
Hi @QChabert. It's best to use Word styles rather than fonts. Could you please re-try the same process but with multiple styles applied in the template? This solves the issue in most cases.

[2016-10-28 12:17] QChabert commented on #223
Hi @BuffaloWill , thanks for the answer. I applied one style "size8InArray" and another one "normalStyle" to the different paragraphs in the template, but still the same problem when generating the report, normalStyle paragraph becomes of style size8InArray.

So I think I will just manually change the size of the content of this array column finally.

Thanks for this great tool by the way ;)

[2016-10-29 00:14] BuffaloWill commented on #200
landed.

[2016-10-29 00:14] #200 closed

[2016-10-29 00:16] BuffaloWill commented on #223
Ok, sounds good.

[2016-10-29 00:16] #223 closed

[2016-11-10 19:55] aconite33 opened #226 "Maximum Length on User Defined Variables"
## Bug
Describe the issue and steps to reproduce:

1. Create a new report
2. Add a user defined variable
3. Add content past ~ 2,220 characters
4. Try to save

Noticed this when I was writing up a rather large timeline event. Figured out it had to deal with length limitations.

[2016-11-29 13:59] BuffaloWill commented on #225
Landed

[2016-11-29 13:59] #225 closed

[2016-12-01 16:09] sobergods opened #227 "MSFPRCD connection Issue"
I'm running Serpico with ruby 2.3.3, i can't connect to MSFPRCD, i get this error
ERROR: Connection to metasploit failed. Make sure you have msfprcd running and the settings in Serpico are correct.

[2016-12-01 21:23] ccammilleri commented on #227
@sobergods you might have a connection issue to your msfrpc daemon, or your settings are incorrect, or you have not started the daemon. Without more relevant information, I can't provide much assistance.

Serpico supports ruby 2.1.5. However, I doubt this is related to your issue, but its best to use the supported ruby version.

[2016-12-01 21:23] #227 closed

[2016-12-02 11:39] sobergods opened #228 "MSF RPC connction issue"
I recently opened an Issue about this but then i changed ruby to 2.1.5 and i'm still unable to connect to MSF RPC , I get this error connection to MSF RPC deamon failed. Make sure you have msfprcd running and the settings in Serpico are correct.

the configs are right and MSFRPCD is up and listening on 55553, when MSF RPC is configured with SSL turned off, it never connect but with SSL
Anyone who

[2016-12-02 22:52] Petessss commented on #228
@sobergods
 By default the msfrpc-client has SSL enabled, for obvious security reasons we default to this.  If you want to use non-SSL RPC  you can modify the helpers/vuln_importer.rb file to disable SSL. Look at the function at line 72.  We do not support non-SSL RPC, so,  if you make this change  your on your own.

[2016-12-02 22:52] #228 closed

[2016-12-02 23:03] Petessss opened #229 "Helper script for plugins"
create a script that automates the creation of a skeleton for plugin. Example:
create_plugin merp

creates the folder merp under plugins
creates plugin.json with the reverent settings
creates routes.rb with the reverent route code

[2016-12-05 09:34] sobergods commented on #206
I'm having this same issue, care to share how it was solved

[2016-12-05 10:01] aoighost opened #230 "Risk as color in markup"
Having the ability to generate the risk as a color in a column in a table in markup would be very helpful for some reporting templates. If I could get some information on what exactly is being used to generate the docx files and the mechanisms involved, I could probably implement myself and pull request.

[2016-12-05 10:02] aoighost commented on #173
Could this please be implemented as an optional then, or at least an idea given in what needs to be added to add the functionality in a fork?

[2016-12-05 12:53] Petessss commented on #206
The command above is missing the -S for SSL.  By default the msfrpc-client has SSL enabled, for obvious security reasons we default to this. If you want to use non-SSL RPC you can modify the helpers/vuln_importer.rb file to disable SSL. Look at the function at line 72. We do not support non-SSL RPC, so, if you make this change your on your own.

[2016-12-05 14:37] sobergods commented on #206
@Petessss
Trust me, msfrpcd -U admin -P password --SSL was used, i only tried to use without SSL since with SSL was giving me error connection to MSF RPC daemon failed. Make sure you have msfprcd running and the settings in Serpico are correct.

My configs are right, i'm using ruby 2.1.5 for both metasploit and Serpico and SSL is turn on, both on Serpico and MSFRPCD
I think I'm doing something wro

[2016-12-05 18:01] ccammilleri commented on #206
@sobergods
Have you verified you see traffic to and from msfrpcd with tcpdump/wireshark? Do you have a workspace set and is it correct? Please join the IRC again and we can continue tshooting.

[2016-12-06 01:04] ccammilleri opened #231 "Latest versions of metasploit breaks rpc ssl/tls negotiation"
Serpico generates generic msfprc connection errors when the user has supplied all the correct settings and msfprcd is running with SSL.

To reproduce bug:
1. install Kali 2016.2 and metasploit (v4.13.2-dev) and upgrade both to the latest version (as of 12/5/2016).
2. install serpico from deb package (release 1.1.0)
3. configure and run msfprcd with ssl
4. configure serpico for a metasploit connect

[2016-12-06 01:21] Petessss commented on #231
Test workaround. Works on 1.0 and 1.1.

[2016-12-06 04:42] sobergods commented on #231
When starting Serpico using the start_serpico script, i get this error
serpico.rb:6:in `require': /opt/Serpico/Serpico/server.rb:81: syntax error, unexpected tSYMBEG, expecting '}' (SyntaxError)
	:ssl_version => 'TLS1'
	 ^
/opt/Serpico/Serpico/server.rb:82: syntax error, unexpected '}', expecting keyword_end
	from serpico.rb:6:in `<main>'

[2016-12-06 04:48] ccammilleri commented on #231
@sobergods can you verify that you have commas in correct places within that code block? Please double check the above code snippet to make sure it looks exactly like yours.

[2016-12-06 07:40] sobergods commented on #231
@ccammilleri @Petessss Thanks guys, it's working now, i added an extra ','
MSF RPC working now

[2016-12-06 07:50] sobergods commented on #231
add Findings from Metasploit DB seems to be broken, i used Auto Add Vulnerabilities from Metasploit DB and it comes up empty, under METASPLOIT DATA MANAGEMENT, i have entries in Hosts and Vulnerabilities

[2016-12-06 13:09] Petessss commented on #231
@sobergods
 Do you have your vuln mappings setup?
https://github.com/SerpicoProject/Serpico/wiki/Setting-up-Metasploit-RPC-Connection

[2016-12-07 01:53] btreptel opened #232 "Meta Language Assistance - Only one loop"
-------------------
## Bug / User Help
Thank you for this amazing app! Using this on a win 2012 Server for testing.

When entering the below script it only outputs the first finding into the document and ignores the rest/

### Example Meta Script.

¬report/findings_list/findings¬
† translate(type,$up,$low)=translate('wireless',$up,$low) †
πtitleπ
πoverviewπ
∆

¬report/findings_list/findings¬
† tra

[2016-12-07 02:22] btreptel commented on #232
Hi Guys,

Found the solution. After each "for each loop"

You need one of these little guys :)  ≠ which ends a "for each loop"

Below is an example of my now working code :) Not sure if its clean but it works for my purposes :)

¬report/findings_list/findings¬
† translate(type,$up,$low)=translate('social engineering',$up,$low) †
πtitleπ
πoverviewπ
πtitleπ
πremediationπ
≠

¬report/findings_list/fin

[2016-12-07 02:22] #232 closed

[2016-12-07 03:20] BuffaloWill commented on #230
@aoighost this is possible. I would suggest taking a look https://github.com/SerpicoProject/Serpico/wiki/Serpico-Meta-Language-In-Depth

Also, have a look at the templates provided in the project; https://github.com/SerpicoProject/Serpico/tree/master/templates. There are examples of colors places into tables depending on risk (e.g. critical finding).

[2016-12-07 03:20] #230 closed

[2016-12-07 03:24] BuffaloWill commented on #173
This will make it into the next release. In the mean time, it should be in the master branch within the next three weeks.

[2016-12-07 03:24] #219 closed

[2016-12-07 03:25] BuffaloWill commented on #219
Thanks @jacksonfylle but I could not reproduce. Closing for now.

[2016-12-07 03:43] btreptel opened #233 "Multiple Each for loops not running."
-------------------
## Assistance
Thank you for this amazing app! Using this on a win 2012 Server for testing.

When entering the below script it only outputs the first two findings into the document and ignores the rest.

### Example Meta Script.

¬report/findings_list/findings¬
† translate(type,$up,$low)=translate('physical',$up,$low) †
πtitleπ
πoverviewπ
πtitleπ
πremediationπ
≠
¬report/findings

[2016-12-07 07:38] sobergods commented on #231
Thanks @Petessss i would need to map it manually, thanks guys

[2016-12-07 13:45] BuffaloWill commented on #233
Hi @btreptel! It looks like you are missing a ≠ in the third loop. This should fix the issue.

Thanks!

[2016-12-08 09:22] btreptel commented on #233
Hi @BuffaloWill Thank you but the issue still exists. I'm now trying:

¬report/findings_list/findings¬
† translate(type,$up,$low)=translate('physical',$up,$low) †
πtitleπ
πoverviewπ
πtitleπ
πremediationπ
≠
¬report/findings_list/findings¬
† translate(type,$up,$low)=translate('social engineering',$up,$low) †
πtitleπ
πoverviewπ
πtitleπ
πremediationπ
≠
¬report/findings_list/findings¬
† translate(type,

[2016-12-09 13:18] #233 closed

[2016-12-09 13:20] BuffaloWill commented on #233
Moved to e-mail.

[2016-12-09 21:10] JASKevinWhite commented on #174
I have a need for some functionality that I think would be fulfilled by this feature request.

We have an "appendix" section of our report that contains things very similar to the "Proof of Concept" field in a finding...but they are things that were discovered that don't fit into a specific finding.

We'd like to be able to have a field for which we can format text, as well as include screenshots.

[2016-12-09 22:53] JASKevinWhite opened #234 "Arbitrary Paragraph "styles""
## Feature Request

The "bullets/heading/italics/code" syntax are really paragraph styles.  The markup in the report maps to a specially named block in the template, and the formatting for that block is used for the paragraph.  The current syntax is limited to the set of four types for use in the report, but the template syntax could use any arbitrary name between the ƒƒ symbols in the choose/when

[2016-12-12 17:24] Dissonia opened #235 "Install error"
# Please fill out the Bug Form or Feature Request Below

-------------------
## Bug
Trying to run Serpico for the first time - ruby first_time.rb
Bundles correctly installed - Ubuntu 16.04

## Feature Request

running command - ruby first_time.rb

### Example Use Case

/usr/local/lib/site_ruby/2.3.0/rubygems/core_ext/kernel_require.rb:55:in `require': cannot load such file -- ./model/master.rb (Lo

[2016-12-12 17:39] Petessss commented on #235
1) How did you install Serpico? Did you pull it from git or use the installer
2) Did you run "ruby scripts/first_time.rb"? You need to make sure you are in the right directory.
3) Ruby 2.3 is not supported at this time.

[2016-12-12 19:50] Dissonia commented on #235
Thanks for the quick response.

1 - Used the git clone method then proceeded with bundle install > install necessary dependencies so everything install successfully.

2 - yes im in the correct directory which is in the following path Serpico/scripts/ruby first_time.rb
3 - I guess I'll have to downgrade to 2.2? or which version is preferable?

Thanks for the help.

[2016-12-12 19:56] Petessss commented on #235
You need to run the script from the root Serpico directory. Example:  ruby scripts/first_time.rb.

Ruby 2.1.5 is the current version we support.

[2016-12-13 17:18] 0xffe4 opened #236 "Ampersands Deleted in Generated Report"
# Bug

-------------------
## Bug
If an ampersand (&) exists in a document template (e.g. Terms & Conditions), the ampersand is deleted from the generated report and displays as "Terms  Conditions"

## Desired Behavior
Any ampersands included in a document template should remain untouched during document generation.

## Temporary Workaround
Replace ampersands with "and" where feasible.

[2016-12-13 17:28] 0xffe4 opened #237 "Incorrectly Escaped Characters"
Bug

-------------------
## Bug
When editing a finding, if the finding title includes certain characters (e.g. <, >, &, etc.) they are being escaped.

1. Click edit on a finding with an affected character in the Title field (e.g. "SSL/TLS EXPORT_RSA <= 512-bit Cipher Suites Supported (FREAK)")
2. In the Title field on the edit form, the name will now display as "SSL/TLS EXPORT_RSA &amp;lt;= 512-bi

[2016-12-15 00:02] BuffaloWill commented on #235
Closing, please re-open if unresolved. Thanks!

[2016-12-15 00:02] #235 closed

[2016-12-15 02:00] 0xffe4 opened #238 "Missing <paragraph> Tags on Some Imported Values - Nessus Import"
## Bug
When importing Nessus files (and possibly others), if an overview, remediation, references, etc does not contain a line break, url_escape_hash does not appear to be adding the <paragraph> tags around the value. This then prevents the value from being inserted in a document template (e.g. ¬overview/paragraph¬) because it lacks the tags.

**From url_escape_hash in helper.rb:**
[code]

It appe

[2016-12-15 09:43] Dissonia commented on #235
Hi there,

Sorry for getting back only now.

Yes I have managed to resolve the issue, seems to be working fine on ruby 2.3

[2016-12-15 21:58] anantshri opened #239 "Overall Report Type"
## Feature Request

Is it possible to define an overall report type example Web Application or Network, mobile or Hybrid. Instead of creating seperate templates for each type i would love to have an option where i can use variables to decide what type of report it is and based on that my template could be Worked on using if else conditions.

-Anant

[2016-12-15 21:59] anantshri opened #240 "Pre set values for UDV (User defined Variable)"
## Feature Request

Is it possible to have pre-set values in say a drop down for User Defined Values. this could help me in setting some pre defined question answer for consultants to fill in and based on that some template formatting and actions could be performed.

[2016-12-18 02:37] BuffaloWill commented on #240
@anantshri I wrote a plugin that partially implements this functionality. Minding providing more information after testing it out? It's beta so I wouldn't test it out on your prod instance yet.

Plugin : https://github.com/SerpicoProject/SerpicoPlugins/tree/master/UDV_Worksheet

Blog Post: https://www.serpicoproject.com/blog/2016/12/17/udv-worksheet-example/

[2016-12-20 00:15] BuffaloWill commented on #239
@anantshri Could you give an example work flow?

[2016-12-20 01:56] BuffaloWill commented on #237
Just pushed a fix for this. Decided not to encode &gt; as > when presenting the title to the user for editing due to XSS concerns. However, the subsequent edit and save problem of & degenerating into &amp; should be fixed. I think this is a reasonable compromise. On most other pages the > is still presented properly and there isn't an issue of the title changing with multiple edits.

[2016-12-20 01:56] #237 closed

[2016-12-20 08:27] anantshri commented on #239
One simple example is if the final report is more or less the same except for few simple sections i would prefer maintaining one reporting template with internal if else blocks based on report type. Right now we have issue types at each issue level  its network  / web / mobile  etc. I would prefer a overall report type if the report is Network or Mobile or Web.

Maintaining consistency across mult

[2016-12-20 14:45] BuffaloWill commented on #239
Ah, this makes sense. Great idea. Discussing internally now, but here is what I am thinking:

1. add a new column in the DB for assessment_type in the Report model
2. update the view to allow users to select the assessment type
3. you could then update your templates to do a string comparison on assessment_type for the optional sections within your template.

[2016-12-23 13:52] anantshri commented on #240
@BuffaloWill tried this today but seems like whenever i click on Go to Administrator Specific Plugins (https://IP:8443/admin/admin_plugins) > UDV_Worksheet i get a "Sorry, I don't know this page." Will dig deep later.

[2016-12-23 13:57] BuffaloWill commented on #240
@anantshri did you restart? Unfortunately you have to restart or the plugin won't be loaded.

[2016-12-23 14:12] anantshri commented on #240
Tried restarting a bunch of time for good measures restarted the whole box also but still same error message.

[2016-12-29 17:52] anantshri opened #241 "Templatizing the presentation data"
Hi Team,

At this point the Presentation data is only available for entry against individual issues but not as part of the overall finding's template.
If we can do that, it will allow us to standardize the presentation of data. and then individual customization could be done for each issue.

[2017-01-01 18:53] anantshri opened #243 "Code Blocks"
How about adding support for markdown style bulk code i know [[[ ]]] allows for one line code. But a lot of time we might want to include some request or responses. and a proper code block will help.

Some options i can think off:
1)  	~~~~ or ``` as a format option (wordpress/github markdown)
2) <code> or <pre> html tag to specify the code block. (official markdown specs)

right now anything betw

[2017-01-02 23:19] Petessss commented on #231
Fixed in release 1.1.1.

[2017-01-02 23:19] #231 closed

[2017-01-06 16:05] infosecrepo opened #244 "Drop-down menu and text fields for risk context"
Feature request:

The ability to add additional context and a qualifier for Impact and Likelihood for generic risk ratings.

-Drop down menus for Impact and Likelihood (Low-High) variables that can be inserted into the generated report.

-Two additional text fields for Impact and Likelihood analysis descriptions.

[2017-01-10 16:22] Dionka opened #245 "Counting findings based on rating"
**Feature Request**

I would like to add a paragraph at my report for the executive summary like this one:
We identified 10 vulnerabilities. These vulnerabilities are distributed as follows:
1 vulnerability associated to a high risk
3 vulnerabilities associated to a medium risk
6 vulnerabilities associated to a low risk

How can I do that?? How can I count total findings as well as findings based

[2017-01-10 18:40] Dionka opened #246 "else statements/ complex if"
# Please fill out the Bug Form or Feature Request Below

## Feature Request

Describe the feature and give an example use case

How do i create complex if like below:
† cvss_exploitability > 3 AND cvss_exploitability <6   †
do something
¥

or

† cvss_exploitability > 3 AND cvss_impact <6   †
do something
ELSE
do something else
¥

Additionally how I write IF in a row?
this doesn't seems to work in

[2017-01-10 19:15] Petessss commented on #245
Appears to be the same request as #246. Closing and working off of #246.

[2017-01-10 19:25] Petessss commented on #246
Did you look at the findings section of the default template? (Page5) It shows how to create a table based on conditional statements.  Just swap out the DREAD Score and Remediation effort with cvss impact and exploitation.

[2017-01-10 19:29] Petessss commented on #174
I'll start working on a mack up this weekend.

[2017-01-11 08:16] Dionka commented on #246
Hi,

Thank you very much for the answer but this is not what I meant.

I have a loop like this:
"For every finding create a table with the details for this finding"

¬report/findings_list/findings:::CVSS_TOTAL>-1¬
<table>
<tr><td> IMPACT:</td><td>IF cvss_impact is >0 and <4 then write Low else if cvvss_impact is >4 and <7 then write medium else write high enf_if </td></tr>
</table>
∆

I used HTML

[2017-01-12 16:10] Petessss commented on #246
@Dionka,
 Thank you for the additional detail. Ya, the current markup language does not support control structures like your describing.

[2017-01-12 16:18] Petessss commented on #245
Reopened. Not the same as#246.

[2017-01-12 16:24] Petessss commented on #245
I'm checking to see if this can be done with UDVs and a plugin.

[2017-01-12 18:36] Petessss commented on #245
@Dionka you can try using the plugin framework with global user defined variables to accomplish this.

Setup global UDV variable for each risk level. Example: severe_number, critical_number
(https://github.com/SerpicoProject/Serpico/wiki/User-Defined-Variables)

Next create a plugin (https://github.com/SerpicoProject/SerpicoPlugins/wiki). It could have code something like this:

  @findings.each d

[2017-01-12 19:48] Dionka commented on #245
Thank you thank you thank you very much. I will try it now and let you
know! Thank you very much for the support! Really appeciate it!

Στις 12 Ιαν 2017 20:36, ο χρήστης "Peter" <notifications@github.com> έγραψε:

[2017-01-12 22:06] Dionka commented on #245
2017-01-12 21:48 GMT+02:00 Dionisia Lerataki <dionisialerataki@gmail.com>:

[2017-01-13 00:21] Dionka commented on #246
I was able to do the following work around:

† cvss_impact > -1 †
† cvss_impact < 4 †
† cvss_exploitability > -1 †
† cvss_exploitability < 4 †
<tr><td>Technical Impact</td><td>Exploitability</td>	<td>Low</td><td>Low</td></tr>
¥
¥
¥
¥
For all nine possible combinations (Low-Low, Low-Medium, Low-High, etc...)

The table created is split, and at the end several empty lines created must be deleted in

[2017-01-18 04:10] JASKevinWhite commented on #174
Is there anything I can do to help?  I've been spending some time trying to figure out how the system works.  I don't want to start trying to implement it myself not knowing what you're planning on trying.

I looked at the XML of the report data.  "Top level", or pre-defined fields, are stored completely differently from UDVs.  The UDV syntax looks like it would be more difficult to make formattin

[2017-01-18 16:00] Petessss commented on #174
@JASKevinWhite,
 I don't have a good answer for ya right now. I'm trying to figure out the best way to implement this. I want to make sure what ever we come up with is flexible enough to also cover plugins like the UDV one (https://github.com/SerpicoProject/SerpicoPlugins/tree/master/UDV_Worksheet).

[2017-01-18 16:06] Petessss commented on #245
@Dionka if this does not work for ya, please reopen.

[2017-01-18 16:06] #245 closed

[2017-01-18 16:14] #246 closed

[2017-01-23 18:30] scottdwallace opened #247 "Adding New 'Assessment Type' to New Findings"
Hello - Loving Serpico! Just have a quick question. When going to 'List Reports' > (Edit Report) > 'Create New Finding', we come to a page with one option of 'Assessment Type' where one can choose External, Internal, etc. Is there a way through the web interface to edit this or does it have to be manually added to the database?
Thank you!

[2017-01-23 19:15] Petessss commented on #247
You'll have to add a new report temple for that Assessment Type.
Login as an Admin
From ADMIN REPORT TEMPLATE MENU select Add Report Template.
Set the Report Type to the new type of report
Upload your new template and save

The next time you create a report you'll see the new report type listed.

[2017-01-23 19:15] #247 closed

[2017-01-25 01:30] BuffaloWill commented on #174
@JASKevinWhite I did some testing tonight and turns out this functionality already exists it was just a little hidden =).

To apply markup to a UDV, use a foreach similar to a finding except use the name of the UDV. For example, say my UDV was named appendix:
[code]

Obviously you will want to apply the same formatting that is used in a finding. The above markup was copied from a finding with the

[2017-01-25 01:30] #174 closed

[2017-01-25 01:31] BuffaloWill commented on #174
Also, it's untested but screenshots should work. I would try it and see how it goes.

[2017-01-30 18:54] aconite33 commented on #226
Apparently this is a hard limit set in the master.rb: property :user_defined_variables, String, :length => 10000

[2017-02-09 19:04] lordsaibat opened #249 "Adding picture to document messing up format."
When adding a picture it is embedded into the text even if there is a <return> before and after the picture.

[2017-02-10 15:13] BuffaloWill commented on #249
@lordsaibat could you resubmit with more information? Please use the issue template. Thanks!

[2017-02-10 15:13] #249 closed

[2017-02-14 00:57] habibiefaried opened #250 "Affected Hosts/URLs using bullets & numbering"
# I think it should be better if we can format the Affected Hosts section minimum with bullets and numbering word standard
-------------------
## Bug
Describe the issue and steps to reproduce

1. Add findings
2. Write the Affected Host
3. Input example string `*- Bulleted text goes here -*`
4. No bullets shown on word generated document

[2017-02-20 21:18] BuffaloWill commented on #58
move to plugins

[2017-02-20 21:18] #58 closed

[2017-02-20 21:35] Petessss commented on #222
issue seems to be resolved.

[2017-02-20 21:35] #222 closed

[2017-02-20 21:56] BuffaloWill commented on #240
@anantshri closing this issue for now. please re-open if it's still not working for you

[2017-02-20 21:56] #240 closed

[2017-02-20 22:01] BuffaloWill commented on #241
Going to move this over to plug-ins.

Written a PoC before for this and one of the problems I've had with templatizing in powerpoint or reveal.js is the font size of the mark-up language. The slide becomes very busy very quickly. This gets passed on to the final output.

[2017-02-20 22:01] #241 closed

[2017-02-20 22:07] BuffaloWill commented on #243
@anantshri Thanks for the submission. This is a useful request but will require some engineering to merge code lines. I can update the issue as it moves along.

[2017-02-20 22:19] Petessss commented on #145
Now that the plugin framework is available this would make a great addition.  If you have any questions or need any assistance let us know.

[2017-02-20 22:19] #145 closed

[2017-02-20 22:19] Petessss commented on #190
Now that the plugin framework is available this would make a great addition.  If you have any questions or need any assistance let us know.

[2017-02-20 22:19] #190 closed

[2017-02-20 22:27] BuffaloWill commented on #250
@habibiefaried have you tried using a for loop similar to the overview paragraph?
[code]

[2017-02-20 22:27] #250 closed

[2017-02-20 22:28] BuffaloWill commented on #74
Closing. This can be done with current plugins.

[2017-02-20 22:28] #74 closed

[2017-02-20 22:29] BuffaloWill commented on #143
Moving to a plugin. JS based markup in general could be augmented.

[2017-02-20 22:29] #143 closed

[2017-02-20 22:32] #236 closed

[2017-02-20 22:32] BuffaloWill commented on #238
@0xffe4 do you have a redacted import I could use for testing this?

[2017-02-21 00:09] habibiefaried commented on #250
Hi sorry I just read this.

I'll try it.
Thanks mate!

[2017-02-23 10:12] patrick-siroop opened #251 "OWASP ZAP Import"
## Feature Request

As a user I would love to be able to import OWAS ZAP and NMAP xml results into Serpico.

[2017-03-16 13:15] Vinitvarghese opened #252 "No "Affected IP" in Serpico - GenericRiskScoring Template"
Thanks for this amazing life saver my friend, but i need your help here.
-------------------
## Bug

1. ...When i select Serpico - GenericRiskScoring Template I wanted Affected IPs, which i cannot find it, I tried to manual add the afftected ip parameter, but then the file got corrupted when i generate report.
2. ...Can you please add it and push it. If you have more Custom templates which are bea

[2017-03-17 12:48] Petessss commented on #252
Are you using π affected_hosts π in your template? Can you past an example of the markup your using?

[2017-03-17 12:56] Petessss commented on #252
I was not able to reproduce. I used the following markup.
¬affected_hosts/paragraph¬π.π∆

Please give it a try and reopen if it does not work.

[2017-03-17 12:56] #252 closed

[2017-03-17 13:04] Petessss commented on #251
@patrick-siroop
We have a plugin framework that would work great for this. Check out https://github.com/SerpicoProject/SerpicoPlugins. There are great samples in the repo that you could use for the base of your plugin.

[2017-03-17 13:04] #251 closed

[2017-03-17 13:05] Vinitvarghese commented on #252
i didnt work my frnd. can u just mail me the document, i will use it directly, that will be the only option i see.

[2017-03-17 14:21] Petessss commented on #252
[Serpico - GenericRiskScoring.docx](https://github.com/SerpicoProject/Serpico/files/850752/Serpico.-.GenericRiskScoring.docx)

[2017-03-17 16:45] #226 closed

[2017-03-24 15:14] Demaz93 opened #253 "Multi-language report"
## Feature Request

It could be awesome have the possibility to manage multi language report.
Findings in multiple language (SQL_Injection_EN, SQL_Injcetion_ES, etc..)

### Example Use Case

During the creation of a new report, whit information about customer we can choose the language of the report. If I choose EN I can choose only english findings.

[2017-03-29 08:41] yeblocs opened #254 "Not all Nessus imports are showing up - Due to special characters?"
# Please fill out the Bug Form or Feature Request Below

-------------------
## Bug
Describe the issue and steps to reproduce

1. Importing Nessus files where the title of the issue includes any special characters.

2. The Nessus file will import, but will be missing some of the vulnerabilities which it found

## Feature Request

Describe the feature and give an example use case

### Example Use C

[2017-03-29 08:43] yeblocs commented on #254
Sorry, forgot to say - Great work otherwise though 👍

[2017-03-31 15:00] gettingstarted247 commented on #254
I start by echoing @yeblocs comment - Great Work!  Love Serpico, saves a lot of time.  However, I have been noticing that many times pieces of the imported Nessus findings are missing when generating a report.  Sometimes its a summary, sometimes its a remediation.  Looks like (in this case) all of the findings themselves were imported, just missing information.  Any ideas?

FWIW, I get why this op

[2017-03-31 15:52] Petessss commented on #254
What version of Nessus are you using?

[2017-04-03 16:01] gettingstarted247 commented on #254
At the time of the scan, I was using 6.10.3.

[2017-04-10 18:20] gettingstarted247 commented on #213
I am having a very similar issue to this and believe that the "Proof of Concept" field has an issue.  When I type a statement, hit enter, insert a screenshot (so its on a new line), and add multiple more screenshots on a new line, only the statement will appear in a generated report.

Example:
The penetration testing team was able to identify... and used... to do...
[!!image1.png]
[!!image2.png]

[2017-04-10 18:28] gettingstarted247 opened #255 "PNG images do not show up in list"
Windows, by default, saves files as .PNG when using the snipping tool.  By uploading a file such as image.PNG to Serpico, it does not appear in the drop down list from the "Proof of Concept" field for a finding.  Renaming the same file to image.png and re-uploading, the filename now appears as an option to insert when typing '[' into the "Proof of Concept" field.

Minor inconvenience, especially i

[2017-04-10 18:36] Petessss commented on #213
@gettingstarted247 [!!image1.png] is incorrect. It should be [!!image1.png!!] your missing the last two !! before the closing ]

[2017-04-12 22:03] Petessss commented on #255
Hello @gettingstarted247 thank you for the kinds words. I'm looking into this issue.

[2017-04-13 14:38] ITGSean opened #256 "Nmap scan inport"
## Feature Request

Ability to import nmap host scans from a scan like "nmap -sV"

### Example Use Case

It would be awesome to be able to import nmap scans so Serpico could output:

IP
Port  Protocol  State(closed/open)  Service(http/ldap/ftp etc)  VersionDetected(apache etc)

[2017-04-13 15:18] gettingstarted247 commented on #255
Thanks @Petessss.  Once confirmed, I imagine it would just be included as a fix in the next release?

[2017-04-18 10:25] Vincent1233 opened #257 "Restart option Serpico"
## Feature Request
Is it possile to restart Serpico from the browser for configuration changes?
Or is there a good way to do this from commandline?

[2017-04-18 11:09] Vincent1233 opened #258 "RPC connection Metasploit Pro"
# Please fill out the Bug Form or Feature Request Below

-------------------
## Bug
Describe the issue and steps to reproduce

1. Start up Metasploit pro : /opt/metasploit/msfpro
2. Launch rpc on metasploit pro

[+] Metasploit Pro extensions have been activated
[*] Successfully loaded plugin: pro

msf-pro > load msgrpc
[*] MSGRPC Service:  127.0.0.1:55552
[*] MSGRPC Username: msf
[*] MSGRPC Passwo

[2017-04-18 11:45] pentestgou1 commented on #258
My mistake, i just found out this (msgrpc) is a know issue.
Msfrpcd does work when given the correct Workspace name  (equal to the database name in the Metasploit browser).

https://github.com/SerpicoProject/Serpico/wiki/Setting-up-Metasploit-RPC-Connection
- Do not use "load msgrpc" within msfconsole, instead launch via the command line tool msfrpcd.

[2017-04-18 11:53] Vincent1233 commented on #258
Still one problem. Vulnerabilities from Metasploit are shown, but not imported.
When using the "Auto Add Vulnerabilities from Metasploit DB" option

![1 metasploit findings visable](https://cloud.githubusercontent.com/assets/3727682/25129417/40850d8c-243e-11e7-897f-63987567454b.png)
![2 import findings from metasploit db](https://cloud.githubusercontent.com/assets/3727682/25129419/4085a9e0-243e-11

[2017-04-18 12:08] Petessss commented on #258
Did you setup your vulnerability maps?  Check out https://github.com/SerpicoProject/Serpico/wiki/Setting-up-Metasploit-RPC-Connection

[2017-04-18 12:18] Vincent1233 commented on #258
Yes i did, and a restarted my VM (I didn't find a better way to have a clean restart?)
![4 config](https://cloud.githubusercontent.com/assets/3727682/25130051/0a22f4a4-2441-11e7-93ca-882c56aac329.png)
I can for example open the Nessus import console without Error message.
![5 nessus import](https://cloud.githubusercontent.com/assets/3727682/25130224/baff1780-2441-11e7-8a9c-33b0a931bc75.png)

[2017-04-18 13:02] Petessss commented on #258
I'm referring to this part: "Each Serpico finding you want automatically mapped will have to have a CVE (or other supported ID) assigned to the finding. This is done by editing the finding in the findings database. More information on what IDs are supported can be found by clicking on the "Add new vuln mapping ID" button". If you dont have the CVE or supported ID's map to a finding the auto mappin

[2017-04-18 13:05] Petessss commented on #257
Which build are you using? For the Linux based installer there are example init scripts that can be used to start and stop the service. If you're staring Serpico by hand via ruby serpico.rb you can look for the ruby process and kill it.

[2017-04-18 13:05] #257 closed

[2017-04-18 13:11] Vincent1233 commented on #258
Thanks you, that was indeed the problem.  However i can import Nessus files without CVE/ID mapping. Is this not possbile for the metasploit BD?

[2017-04-18 13:29] pentestgou1 commented on #245
Did someone already make a fix / plugin for this issue?

[2017-04-19 11:44] pentestgou1 opened #259 "UDV_Worksheet : Crash when saving twice"
Serpico crashes when saving the  variables in the UDV_Worksheet twice.

- No saving =  everything oke
![1 udv_worksheet](https://cloud.githubusercontent.com/assets/27432586/25178457/30bfcf0e-2506-11e7-9ccb-c8ba390df884.png)

- Saving once =  everything oke
![2 udv_worksheet save once](https://cloud.githubusercontent.com/assets/27432586/25178458/30bfee76-2506-11e7-8dcd-8943e8f3e99e.png)

- Saving t

[2017-04-19 13:58] Petessss commented on #259
hmm the url is incorrect in your last image. Its missing the 1 after the report_id. When you say crash, is the system unusable or you just receive the No Such Report?

[2017-04-19 14:02] pentestgou1 commented on #259
It just says No Such Report.  When going pressing back a second error appears. When pressing back again the menu shows in its pre saved stated (fields emty/default value)

[2017-04-19 14:06] #258 closed

[2017-04-19 14:08] Petessss commented on #255
@gettingstarted247 Yes it will be included in the next release or if your running a dev copy you can git pull it when its committed into master.

[2017-04-19 14:13] pentestgou1 opened #260 "Line break in User Defined Variables (Meta Language)"
Is is possible to have a User defined Variable with line break.

Example

Variable  §Team_members§   =  Team member 1
                                                   Team member 2

Output is   = Team member 1 Team member 2

Desired output  = Team member 1
                             Team member 2
(line break between 2 value's in the same variable string)

[2017-04-19 14:15] Petessss commented on #259
Ok. I'll have to spin up a test instance and see if I can reproduce it.

[2017-04-19 19:31] Dionka commented on #245
Hi,
When I attempted it, I didnt manage to make it work.
However, i noticed that it already counds findings in dashboard. Maybe
there is a workaround to use this counting somehow?

Στις 18 Απρ 2017 16:29, ο χρήστης "pentestgou1" <notifications@github.com>
έγραψε:

[2017-04-19 21:54] Petessss commented on #256
We recommend using the Metasploit connector for this.
https://github.com/SerpicoProject/Serpico/wiki/Setting-up-Metasploit-RPC-Connection

[2017-04-19 21:54] #256 closed

[2017-04-19 21:56] Petessss commented on #254
We are trying to get our hands on Nessus 6.10.3. Can you supply us with a redacted version for testing?

[2017-04-19 22:55] gettingstarted247 commented on #254
I will spin up a VM and do a test scan tomorrow.  If you want a report, let me know how you'd like me to provide that to you.  If not, and you want Nessus, you can download the newest version (6.10.5 as of today) at https://www.tenable.com/products/nessus/select-your-operating-system.

[2017-04-19 23:42] BuffaloWill commented on #260
Hi @pentestgou1

Yes, you can apply formatting to a UDV similar to a finding. For example, say my UDV is team_members:

[code]

[2017-04-19 23:42] #260 closed

[2017-04-19 23:46] BuffaloWill commented on #260
Updated the wiki:

https://github.com/SerpicoProject/Serpico/wiki/Serpico-Meta-Language-In-Depth

[2017-04-20 00:41] BuffaloWill commented on #178
pushed.

[2017-04-20 00:41] #178 closed

[2017-04-20 00:57] BuffaloWill commented on #173
Just landed; @aoighost @aconite33

[2017-04-20 00:57] #173 closed

[2017-04-20 07:48] pentestgou1 commented on #260
Thnks for the solution. I still have to problem :

When using :

**List of users 1 :**
¬report/udv¬
¬team_members/paragraph¬
π.π
∆

**List of users 2 :**
¬report/udv¬
¬team_members2/paragraph¬
π.π
∆

With both team_members and team_members2 consisting of
Jan1 Jansen1
Jan2 Jansen2

**Problem1:** Only the first loop is shown.
**Problem2 :** The output has many white lines between lines.

Given out:

[2017-04-20 08:10] ITGSean opened #261 "Ability to use variables in headers/footers"
## Feature Request

Use Serpico variables in headers and footers

### Example Use Case

Often a report needs the client name & name of text in the headers and/or footers.  Currently serpico doesn't replace the variable name with the correct text.

[2017-04-21 00:33] BuffaloWill commented on #261
@ITGSean thanks.

Developer notes:
- Header and footer are stored in word/header*, word/footer*
- Can use docx_modify(rand_file,docx_xml,'word/header1.xml'), etc to insert
- Should limit to variables only

[2017-04-21 01:14] BuffaloWill commented on #244
Going to close this.

Should be covered by RiskMatrix scoring (https://github.com/SerpicoProject/Serpico/pull/152) or CVSS.

[2017-04-21 01:14] #244 closed

[2017-04-21 09:00] ITGSean commented on #261
Could you expand on the above text please?  It isn't very clear what you mean.

Thanks

[2017-04-21 11:58] BuffaloWill commented on #261
The developer notes are for tracking how to implement the enhancement.

[2017-04-24 09:30] pentestgou1 opened #262 "Meta-Language : Equals"
The Meta-Language describs :

† - if conditional
† DREAD_SCORE > 1 †
HELLO WORLD
¥
Renders a HELLO WORLD if the DREAD_SCORE is > 1

How do you preform a string comparison for "effort"

† effort **??** Quick †
This is a quick effort
¥

† effort **??** Planned †
This is a Planned effort
¥

Taking = or == wont work .

[2017-04-24 09:34] pentestgou1 opened #263 "Meta Language : (undisired) Line breaks when using UDV variables (lists)."
Problem when using multiple lines in variables.

Example  :

List of users 1 :
¬report/udv¬
¬team_members/paragraph¬
π.π
∆

List of users 2 :
¬report/udv¬
¬team_members2/paragraph¬
π.π
∆

With both team_members and team_members2 consisting of
Jan1 Jansen1
Jan2 Jansen2

Problem1: Only the first loop is shown.
Problem2 : The output has many white lines between lines.

Given out:

emtpy
emtpy
Piet1 J

[2017-04-24 10:08] pentestgou1 commented on #142
¬report/findings_list/findings:::risk>3¬
† translate(assessment_type,$up,$low)=translate('External',$up,$low) †
FINDINGS
¥

Is there a better way to compare strings developt?

[2017-04-24 10:09] #262 closed

[2017-04-24 10:32] pentestgou1 opened #264 "(Multi-language) change variables"
Is there a good way to rename variables?

Example : Change the effort option Involved to very_involved

Grep:
/opt/Serpico/Serpico/server.rb:    set :effort, ["Quick","Planned","Involved"]
/opt/Serpico/Serpico/views/create_finding.haml:            %option INVOLVED

Can i just rename Involved and INVOLVED ?

In config.json there seems to be a better way for finding_types, where a list can editted a

[2017-04-24 11:06] ITGSean commented on #261
Oh OK.  Thanks Will

[2017-04-24 11:48] BuffaloWill commented on #264
Please use the Github issue template.

Renaming variables is not supported. You could change the effort option in the report via string comparison. However, a plug-in will likely be easier to support and cleaner for your users.

[2017-04-24 11:48] #264 closed

[2017-04-24 11:49] BuffaloWill commented on #263
Please use the Github issue template.

There is an issue with the markup in your report template.

[2017-04-24 11:49] #263 closed

[2017-04-25 14:06] gettingstarted247 commented on #238
@BuffaloWill,  Emailed you a test report.

[2017-04-26 10:49] ITGSean opened #265 "Add testing to/from dates to report information"
## Feature Request

Most PT reports require the time window of testing to be specified

### Example Use Case

When creating a new report, have extra fields where the consultant can add the from/to dates of the test & include these in the auto-generated report.

I.E:  Testing took place between <start_date> and <end_date>

Thanks,

Sean

[2017-04-26 12:28] BuffaloWill commented on #265
Thanks @ITGSean.

If you need this functionality now, you can use User Defined Variables and the UDV Worksheet plugin (https://www.serpicoproject.com/blog/2016/12/17/udv-worksheet-example/).

However, every assessment has a start date and an end date. I will add this in an enhancement. It should be in by default.

[2017-04-26 13:04] pentestgou1 commented on #5
Is CVSS still unseported? It seems there is a template, but findings can not be classified using CVSS

[2017-04-26 13:18] Petessss commented on #5
Did you enable CVSS? This can be done editing the config.json and setting cvss to true.

[2017-04-26 14:19] pentestgou1 opened #266 "Is it possible to have a chart in docx interact with the CVSS score?"
## Feature Request
Is it possible to have a chart in docx interact with the CVSS score or a UDV?

[2017-04-26 14:54] pentestgou1 commented on #266
## Feature Request
Is it possible to have a chart in docx interact with the CVSS score or a UDV?

[2017-04-26 16:23] #266 closed

[2017-04-27 00:18] BuffaloWill commented on #255
@Petessss grabbed this issue and applied your fix, works.

@gettingstarted247 if you have a chance, please update and test the fix.

[2017-04-27 00:18] #255 closed

[2017-04-27 14:36] ITGSean opened #267 "Generate a table of db_nmap port scan"
## Feature Request

Despite looking everywhere I can think of I can't see any reference to any template codes which would enable me to get Serpico to generate a list/table of port scan results from hosts imported via MSFRPC.

### Example Use Case

What I need to do is generate a table with the following headings (from running db_nmap <range> -sSV in MSF):

IP_address   Port   State  Service   Vers

[2017-04-27 17:42] yeblocs commented on #254
Hey all, I've found out what my problem was and made a work around for it.
Turns out that when importing items from Nessus, it wasn't auto-adding them to the report items when the "port" value was set to 0. I made a quick script to go though and change all the port=0's to port=NULL and it seems much happier now.
It was just coincidence about the < / &lt; character.

Like @gettingstarted247 I'm als

[2017-04-30 23:27] #259 closed

[2017-04-30 23:35] Petessss commented on #267
I would recommend checking out the plugin framework for this. https://github.com/SerpicoProject/SerpicoPlugins

[2017-04-30 23:35] #267 closed

[2017-05-04 15:01] pentestgou1 opened #268 "Is it possible to Hide CVSS option and is CVSS correctly supported in v1.1.1"
## Feature Request
When using the CVSS format for findings all Base, Temporal, and Environmental variables are shown.
Is it possible to hide variables show only Base variables are used?

IS CVSS v3 supported in the latest Serpico release 1.1.1 or do i have to use a github clone?
Refering to Issue #248

Thanks for the help, cheers.

[2017-06-05 22:11] aconite33 opened #270 "Multiple References Only Print First Reference"
## Bug
Describe the issue and steps to reproduce

1. Create a new finding
2. In the reference section, add multiple references, each on their own line.
3. Generate a report
4. Verify that the references are only showing the first reference in a list of references.

[2017-06-06 15:39] BuffaloWill commented on #265
Landed.

[2017-06-06 15:39] #265 closed

[2017-06-06 15:40] BuffaloWill commented on #270
Hi @aconite33!

I haven't tested but this is likely an issue with the template. Can you try adding a for loop into your template references section? If not, I can test within the next 72 hours.

[2017-06-06 15:40] #268 closed

[2017-06-08 13:56] BuffaloWill opened #272 "Version Information in Serpico"
## Feature Request

Serpico should ship with a version for help with support. IMO we should include this as a value in a file and accessible via a route.

[2017-06-15 13:41] MOBergeron commented on #270
You can go with this in your template :
`¬references/paragraph¬`
`π.π `
`∆`

It will print each paragraph of your references (if they are separated by a new line)

[2017-06-15 16:00] BuffaloWill commented on #270
Thanks @MOBergeron!

[2017-06-15 16:00] #270 closed

[2017-06-20 14:09] ITGSean commented on #265
Hi @BuffaloWill

How is this inserted into a report template document?

Thanks,

Sean

[2017-06-22 15:26] Petessss commented on #121
fixed in https://github.com/SerpicoProject/Serpico/commit/5fb917e923296259cdf5603c6ce26e4bce71dba8

[2017-06-22 15:26] #121 closed

[2017-06-22 16:34] BuffaloWill commented on #265
@ITGSean use the variables assessment_start_date and assessment_end_date

[2017-06-23 12:06] ITGSean opened #275 "issues not appearing with correct rating in dashboard nor report after switching scoring modes"
## Bug
Describe the issue and steps to reproduce

1. I have findings defined in the database as CVSS2, with CVSS3 vectors as "not defined", they are listed in "current findings" in the report and the findings database with a CVSS score of 10.0
2. In the current report findings page, the graph at the top shows totals of zero for critical and high findings, but shows correct totals for mediums and b

[2017-06-27 00:26] Petessss commented on #275
We are in the process of updating the scoring code. Once we are done, we'll check this out.

[2017-06-27 14:57] ITGSean opened #277 "CVSSv2 in new commit cannot be saved as a Risk Scoring Algorithm"
## Bug
Describe the issue and steps to reproduce

1. In the new commit with CVSSv3 included, you cannot select CVSSv2 in Configuration Options- when the Save button is pressed, Risk Scoring Algorithm reverts to Default.

It appears that you can force the selection by editing config.json - so it appears that something is wrong with the code which saves back to the config file.

[2017-06-27 15:07] BuffaloWill commented on #277
Thanks @ITGSean! I just pushed a fix for this. Please let me know if it is working for you.

[2017-06-27 15:46] #277 closed

[2017-06-27 16:10] ITGSean commented on #277
Seems to be ok now. Thanks @BuffaloWill

[2017-06-28 12:33] BuffaloWill opened #279 "Risk Matrix Finding Edit/Create Missing Presentation Points"
## Bug

1. Create a New Finding
2. Presentation Points drop down is missing from bottom of screen

[2017-06-28 12:39] BuffaloWill opened #280 "Vector String Input for CVSS Scoring"
## Feature Request

It would be nice to have a vector string input box if I already have a vector string for a finding. So rather than having to click on every drop down box, I could just paste in the vector string and the scoring would be set.

E.g. CVSSv2 Base Vector:
AV:[L,A,N]/AC:[H,M,L]/Au:[N,S,M]/C:[N,P,C]/I:[N,P,C]/A:[N,P,C]

References:
https://nvd.nist.gov/vuln-metrics/cvss/vector-v2
http

[2017-06-28 12:39] BuffaloWill commented on #280
Working branch:
VectorStringJS

[2017-06-28 13:12] #279 closed

[2017-06-28 13:48] Petessss commented on #275
@ITGSean we have pushed the updates to master. Can you please pull the latest code and test?

Thanks,
Petessss

[2017-06-28 13:49] Petessss commented on #229
should be moved to the plugin repo.

[2017-06-28 13:49] #229 closed

[2017-06-29 20:23] #280 closed

[2017-06-29 21:47] #275 closed

[2017-06-30 08:07] ITGSean commented on #275
seems ok guys at first glance.  will update if I see anything odd

[2017-06-30 13:43] arnoldmarunda opened #285 "Json + DM-serializer gem dependency conflicts in Ruby 2.4.1"
# Please fill out the Bug Form or Feature Request Below

-------------------
## Bug
Describe the issue and steps to reproduce

1. ...I have Ruby 2.4.1 which has json 2.1.0 gem installed by default. Serpico requires json -v '1.8.3' or lower for dm-serializer-1.2.2. There is a conflict on "bundle install"

is it possible to 'bump' up the json/dm-serializer dependency versions

[2017-06-30 13:46] BuffaloWill commented on #285
Hi! Right now we only support Ruby 2.1.5. Any gem conflicts outside of this version are not supported.

Please follow the dev build instructions for working with 2.1.5:
https://github.com/SerpicoProject/Serpico/wiki/Developer-Build

Cheers!

[2017-06-30 13:46] #285 closed

[2017-06-30 14:20] Petessss opened #286 "Upgrade version of Ruby and related gems"
After 1.2 release work on upgrading version of Ruby and gems.

[2017-07-01 15:27] ITGSean opened #288 "CVSSv2 mode created findings all show as Info in chart and report"
Describe the issue and steps to reproduce

1. created a new instance of serpico from git clone of latest master
2. ran scripts\first_time.rb and elected not to use built-in template findings
3. started serpico & logged in & configured serpico in CVSSv2 mode & restarted
4. created a new finding in the findings database:

Access Vector: Network
Access Complexity: Low
Authentication: None
Confidentia

[2017-07-03 12:30] ITGSean commented on #288
UPDATE:  It seems that the mapping between CVSSv2 scoring and Critical/High/Medium/Low etc is being done.  If I change the rating method to default, change the findings risk ratings, then change back to CVSSv2 mode, the findings appear in the report correctly.

It may help to have the field (critical/high/med/low) in addition to the cvss vectors per issue, so that the risk rating can be overridden

[2017-07-03 12:33] ITGSean opened #289 "Feature request: CVSS vectors in short format (not whole word format)"
## Feature Request

For reporting brevity purposes, it would be handy to have the cvssv2 vectors as letters (in the report, not the Sepico UI) i.e:

AV:N/AC:L/Au:N/C:P/I:N/A:N

..rather than AV:Network/AC:Low etc

Thanks

Sean.

[2017-07-03 16:12] ITGSean opened #290 "CVSSv2 Scores displaying in findings DB/search function"
## Bug
Describe the issue and steps to reproduce

1. In CVSSv2 mode
2. Type in a search term in the findings database page:

![image](https://user-images.githubusercontent.com/25362513/27800712-7fa78f0c-6012-11e7-8a89-999877adcf54.png)

The search hit rows are displayed, but also the CVSS scores for each non-hit.  This will make the UI awkward to navigate in a findings database with a lot of entri

[2017-07-05 17:23] BuffaloWill commented on #289
Great idea.

[2017-07-05 17:27] BuffaloWill commented on #290
Confirmed.

[2017-07-05 18:01] ITGSean commented on #288
As a quick fix hack I edited the relevant views to add the risk rating field. That fixes it as a workaround

[2017-07-07 13:56] ITGSean commented on #290
confirmed fixed

[2017-07-07 19:10] #272 closed

[2017-07-10 16:31] r3b00t5 opened #294 "[Bug] Add UDV to tables"
I may be wrong here, but when I attempt to add a UDV to a table, it doesn't render.

[2017-07-10 16:33] r3b00t5 commented on #294
Example:
§regional_office_2§
∞regional_office_2∞
§regional_office_two§
∞regional_office_two∞

[2017-07-10 17:00] Petessss commented on #294
Can you please fill out the following bug report?

# Please fill out the Bug Form or Feature Request Below
  |  
  | -------------------
  | ## Bug
  | Describe the issue and steps to reproduce
  |  
  | 1. ...
  | 2. ...
  |  
  |  
  | ## Feature Request
  |  
  | Describe the feature and give an example use case
  |  
  | ### Example Use Case
  |  
  | "As a user ..."

[2017-07-10 17:48] r3b00t5 commented on #294
When attempting to render a UDV in a report table, the UDV placeholder shows up blank
Steps to recreate
1. Create a UDV (regional_office_2)
2. In the report template, create a table
3. In the created table , paste the UDV name along with the meta tags (§regional_office_2§)
4. Upload your modified report template.
5. Generate your report/finding

I'm unsure if this is a bug or simply not a feature

[2017-07-10 18:31] r3b00t5 opened #295 "[Feature Request]Vector String and Severity Fields for CVSSv2 and CVSSv3"
Feature Request
It would be great to be able to calculate the Vector String based on the vector calculation of a finding and the severity based on the cvss_total field.

CVSS V3 Ratings
1.Vulnerabilities are labeled "Low" severity if they have a CVSS base score of 0.0-3.9.
2.Vulnerabilities will be labeled "Medium" severity if they have a base CVSS score of 4.0-6.9.
3.Vulnerabilities will be label

[2017-07-10 21:04] Petessss commented on #294
are you using something like æreport/udvæ ∞regional_office_2∞ to create your table?

[2017-07-10 21:32] Petessss commented on #295
Version 3 is already supported. Version 2 request is being tracked via https://github.com/SerpicoProject/Serpico/issues/289

[2017-07-10 21:32] #295 closed

[2017-07-10 21:47] r3b00t5 commented on #294
Here's what I've tried. No luck so far.

| æreport/udvæ ∞regional_office_1 |
| ------------------------------- |
| ¬affected_hosts/paragraph¬ µzzzzµ π.π ÷ π.π ≠|

[2017-07-10 21:53] Petessss commented on #294
Are you using this within the finding section?

[2017-07-10 21:54] r3b00t5 commented on #294
Yes, its in a finding loop.

[2017-07-11 17:19] BuffaloWill commented on #294
Hi @r3b00t5, regional_office_1 is missing a closing infinity symbol. Could you try:

[code]

[2017-07-11 17:29] r3b00t5 commented on #294
Still no luck. Here's more context
3.3	Medium Findings
¬report/findings_list/findings:::CVSS_TOTAL>3.9:::CVSS_TOTAL<7¬

[17-TNW-03] πtitleπ

CVSSv3 Score: πcvss_totalπ

STRIDE Category: πtypeπ

Description

¬overview/paragraph¬ µzzzzµ π.π

ƒcodeƒ π.π

ƒitalicsƒ π.π

•	ƒbulletƒ π.π

ƒh4ƒ π.π

÷ π.π ≠

Remediation

¬remediation/paragraph¬ µzzzzµ π.π
ƒcodeƒ π.π
ƒitalicsƒ π.π
•	ƒbulletƒ π.π
ƒh4ƒ π.π
÷

[2017-07-11 17:51] BuffaloWill commented on #294
Could you try only using the table for loop once? Specifically:

| æreport/udvæ ∞regional_office_1∞ | ∞regional_office_2∞ |

[2017-07-11 17:55] r3b00t5 commented on #294
Sorry, that didn't work. Could it be because it's already in a loop within the findings?

[2017-07-11 18:05] BuffaloWill commented on #294
Not sure, it's possible. Is either UDV being displayed?

[2017-07-11 18:07] r3b00t5 commented on #294
No, so far I can't get any UDV's to display within the findings loop, unless it's within a finding paragraph.

Example:
<<assessment_team_name>> believes FTP presents a risk to confidentiality.

[2017-07-11 18:44] r3b00t5 commented on #294
Just to rule it out, I tried it outside the loop and it works fine.

| æreport/udvæ ∞regional_office_1∞ |
|---|

[2017-07-13 13:49] ITGSean opened #297 "Issues importing from msfrpcd"
Having issues with importing from msfrpcd guys!

## Bug
Describe the issue and steps to reproduce

1. msfconsole > create workspace > db_import a nessus file to populate the workspace
2. "vulns" lists the issues in msfconsole
3. msfrpcd -a 127.0.0.1 -U msf -P msf --ssl
4. in serpico > new report > configure msfrpcd with appropriate details
5. Clicking on Hosts or Vulns in METASPLOIT DATA MANAGEMEN

[2017-07-13 14:17] Petessss commented on #297
Do you have your vuln mappings setup?
https://github.com/SerpicoProject/Serpico/wiki/Setting-up-Metasploit-RPC-Connection

[2017-07-13 14:20] ITGSean commented on #297
Hi Pete

Yes, that's all set up.  Can see hosts in the workspace from serpico etc.

Here's my config.json:

`{
  "port": "8443",
  "use_ssl": true,
  "bind_address": "0.0.0.0",
  "ssl_certificate": "./cert.pem",
  "ssl_key": "key.pem",
  "ldap": false,
  "ldap_domain": "",
  "ldap_dc": "",
  "dread": false,
  "cvss": true,
  "nessusmap": true,
  "burpmap": true,
  "vulnmap": true,
  "finding_types

[2017-07-13 14:30] Petessss commented on #297
Each Serpico finding you want anatomically mapped will have to have a CVE (or other supported ID) assigned to the finding. This is done by editing the finding in the findings database. More information on what IDs are supported can be found by clicking on the "Add new vuln mapping ID" button. Please check out the wiki.

https://github.com/SerpicoProject/Serpico/wiki/Setting-up-Metasploit-RPC-Conne

[2017-07-13 15:05] ITGSean commented on #297
Yes, I understand that, and we do have a couple of dozen findings in our findings DB which have nessus plugin ID mappings.  We just don't get the expected list of vulns to include in the report/or any findings being added into the report once the auto-import from rpc option is clicked.

One thing I have just noticed is the following in ./log/serpico.log:

"auto_import function not supported with M

[2017-07-13 16:01] Petessss commented on #297
I'm unable to repo the issue with the latest dev version. Can you please provide more information about your setup? Ruby server, Serpico version, Metasploit version, OS version and so on. Thanks.

[2017-07-13 18:25] BuffaloWill opened #299 "Auto-Generate Severity Findings Total UDV"
## Feature Request

Many report templates use a finding by severity total (e.g. 6 critical findings). Unfortunately this is not trivial to add without a plugin.  When the user clicks Generate Report this feature would sum the findings by severity and create a UDV.

### Example Use Case

As a user I would like my report template to include a findings by severity as a UDV.

[2017-07-13 21:44] BuffaloWill opened #300 "Refactor CVSS js code in findings"
## Feature Request

The new CVSS javascript for findings should be moved into a public js and then imported. Has lots of non-DRY and just generally getting hard to navigate.

[2017-07-13 21:56] ccammilleri opened #301 "dev install errors on bundle install"
-------------------
## Bug
Exiting error on bundle install prevents successful installation.

1. on ubuntu 16.04, follow the dev install instructions
2. during `bundle install` the following error is presented:
[code]

### Example Use Case

"As a developer the dev install from source should work cleanly."

## workaround

I was able to drop the msgpack ver down to 0.5.8 in the Gemfile and Gemfile.l

[2017-07-13 21:58] ccammilleri commented on #301
my diff
[code]

[2017-07-14 12:31] ITGSean commented on #297
sorry to waste your time Pete.  It was an RTFM issue combined with older versions of files mixed up with the dev release.  Confirmed that non of this happens in a fresh install of the latest dev release <facepalm>

[2017-07-14 12:55] Petessss commented on #301
+1 for up'ing msfrpc-client. Will and I were talking about rewriting the msf stuff as a plugin and just parse the xml file. This way we don't have to deal with the msfrpc-client and msgpack dependencies anymore.

[2017-07-14 12:57] Petessss commented on #297
No problem @ITGSean. I'm glad its working.

[2017-07-14 12:57] #297 closed

[2017-07-14 13:04] Petessss commented on #301
Looks like msfrpc-client 1.1.0 requires rex 2.0.10 which requires ruby => 2.2.0. At this point it may be best to move msgpack back to (~> 0.5.8, >= 0.5.8)

[2017-07-14 13:15] Petessss commented on #301
removing msgpack from the gem file looks like a good short term fix.

[2017-07-14 13:23] Petessss commented on #301
https://github.com/SerpicoProject/Serpico/pull/302 please test.

[2017-07-14 14:36] BuffaloWill commented on #301
Landed 302, closing until further notice.

[2017-07-17 10:39] ITGSean opened #304 "Question: Best way to upgrade Serpico dev release"
Excuse what probably is a stupid question, but what is the best (and easiest) non-destructive way to upgrade Serpico from a git clone of the dev release? My mind has gone blank!

Historically, I've been git cloning to a fresh folder and restoring the findings DB from the last worked-on version.

Is there a way of using git so that it just upgrades the bug-fixed (or improved) files and preserves fi

[2017-07-17 12:52] BuffaloWill commented on #304
Hi @ITGSean. master.db should never be modified by the origin/master project. It is not tracked by the project. You are safe running 'git pull' in your existing project. That being said, make sure to regularly run backups (Administration > Backup Master Database/Backup All Attachments). Also, make sure to backup your templates regularly.

To answer the question, regularly create backups and store

[2017-07-17 12:52] #304 closed

[2017-07-17 12:53] ITGSean commented on #304
Hi Will - thanks - just wanted to make sure!  Sean

[2017-07-18 12:40] aconite33 opened #305 "Adding a user to report"
## Feature Request

1) Create report
2) Add Collaborator to report
3) Get redirected back to list of reports

Describe the feature and give an example use case

### Example Use Case

Instead of being redirected back to list of reports, reload page of revised list of collaborators on report.

#### Issue

Requires multiple click throughs to add users to report. Can be cumbersome when you have multip

[2017-07-20 08:18] ITGSean opened #306 "CVSSv2 not able to create just a base score in one pass (new finding)"
## Feature Request
Add the menu options "Not Defined" in the findings/new view

### Example Use Case

With Serpico in CVSSv2 mode, when creating a new finding, the option to select "Not Defined" doesn't appear in:

- Exploitability
- Remediation Level
- Report Confidence
- Collateral Damage Potential
- Target Distribution
- Confidentiality Requirement
- Integrity Requirement
- Availability Require

[2017-07-20 08:26] ITGSean commented on #288
Hi Guys

I'm on the latest dev release and this is still an issue.  The CVSSv2 scores are still not mapping to the relevant Crti/High/Med/Low rating.

![image](https://user-images.githubusercontent.com/25362513/28407706-015f6f8e-6d2d-11e7-8221-2264a16aabf4.png)

Can this be looked at please, as it's adding unnecessary extra effort to work around the issue (i.e adding the risk rating field into the

[2017-07-20 08:27] ITGSean commented on #299
This is an excellent idea!  Very useful for the exec summary.

[2017-07-20 08:29] ITGSean commented on #239
Excellent idea!  This would make template maintenance a LOT easier!  (Currently maintaining 4 templates and counting)

[2017-07-20 18:33] BuffaloWill commented on #306
Thanks for the details issue request Sean. This should be fixed now. Please re-open if the fix isn't correct. Cheers!

[2017-07-20 18:33] #306 closed

[2017-07-20 19:21] BuffaloWill commented on #299
Added the feature, details are in the Wiki

https://github.com/SerpicoProject/Serpico/wiki/User-Defined-Variables

[2017-07-20 19:21] #299 closed

[2017-07-20 19:23] BuffaloWill commented on #294
Thanks @r3b00t5. This looks like a bug.

[2017-07-20 21:08] BuffaloWill commented on #289
Just landed this feature. You can now use c2_vs and c3_vs to get the CVSSv2 and CVSSv3 vector strings respectively.

I also added the notes into the wiki:
https://github.com/SerpicoProject/Serpico/wiki/Serpico-Meta-Language-In-Depth

Warning, you will need to re-save any existing findings to have the vector string added.

[2017-07-20 21:08] #289 closed

[2017-07-20 21:25] BuffaloWill commented on #288
Just pushed a fix for this, please review and verify it's good.

[2017-07-20 21:42] BuffaloWill commented on #305
Thanks for the detailed finding request @aconite33. I just landed this.

[2017-07-20 21:42] #305 closed

[2017-07-21 03:08] Bevilacqua opened #308 "How to use meta language if for string comparison"
## Bug
It doesn't seem possible to compare a variable to a string literal

`† COMPANY_NAME = "Serpico" †
HELLO WORLD
¥`

This causes an error that says: `could not compile test expression company_name="Serpico"`

[2017-07-21 07:27] ITGSean commented on #306
Works perfectly.  Thanks @BuffaloWill

[2017-07-21 07:39] ITGSean commented on #289
@BuffaloWill What are the usage guidelines for this? I've resaved a finding and the CVSS vector string isn't being populated.  I was hoping that this would be the case either when I configure the relevant CVSS vectors, it would calculate the string AND/OR if I added the CVSS vector string, the AV/AC/A etc fields would be adjusted accordingly.

Currently, neither happens (from a git pull from 10-ho

[2017-07-21 08:19] ITGSean commented on #288
Hey @BuffaloWill - thanks for the swift response!

It's close, but no cigar.  The CVSS 10.0's are appearing as Severe, not Critical:

![image](https://user-images.githubusercontent.com/25362513/28455082-a4c28cc4-6df5-11e7-9af3-63eba13feefc.png)

Thanks,

Sean

[2017-07-21 09:13] ITGSean commented on #288
Aah - Just realised that the "official" CVSSv2 line is that there are no Critical-risk mappings to the score - hence, I guess, why you guys have Critical as N/A in here.  Could the option to switch criticals on in CVSSv2 be added?  This would then nicely tie-in with tools such as Nessus.

Thanks,

Sean

[2017-07-21 11:56] BuffaloWill commented on #288
Hey Sean.

Aah - Just realised that the "official" CVSSv2 line is that there are no Critical-risk mappings to the score

This is correct. I /almost/ broke away from the official scoring because I think it's silly not to have a critical level finding. But it wouldn't match the critical_tally UDV as discussed below.

Could the option to switch criticals on in CVSSv2 be added?

Could you submit a fea

[2017-07-21 12:03] ITGSean opened #309 "Feature request: Critical rating switch for CVSSv2"
Copied from the conversation with @BuffaloWill :

I realise that this breaks the "official" CVSSv2 line, but we, and competitors in the majority still include Critical scoring despite the fact the CVSSv2 scores are also included per-finding. It seems to be in-demand as a client expectation (go figure!)

**Requesting the added option to have a setting to turn ON CVSSv2 support for Critical-risk sco

[2017-07-21 12:08] BuffaloWill commented on #289
I just pushed a fix for this. My guess is a case sensitivity issue, if you were using "Au" then the field would be ignored. Either way, this should be fixed now if you could re-test.

Also, if you click on the blue "CVSS Vector String" button, Serpico will help prep the vector string and update the dropdowns.

[2017-07-21 12:21] BuffaloWill commented on #309
Thanks for submitting in an issue, much easier to track.

We have a code freeze starting this morning but I can get this in for the official 1.2 release Aug 1st.  I will add it to the dev build tonight after the releases are built.

[2017-07-21 12:23] ITGSean commented on #289
My bad on the text case thing - I was copying the vectors straight out of the Nessus UI and into Serpico.  The Nesuss string has lowercase - "Au".

I'm liking the CVSS calc! :+1:

This is a fantastic improvement to the whole thing!.  Confirmed that the fix is working on my install.

Cheers :1st_place_medal:

[2017-07-21 12:29] ITGSean commented on #309
Awesome - thanks :)

[2017-07-21 12:31] BuffaloWill commented on #308
Hi @Bevilacqua, please check out the wiki.

https://github.com/SerpicoProject/Serpico/wiki/Parsing-by-Assessment-Type-or-Performing-a-String-Comparison-in-a-Report

[2017-07-21 12:31] #308 closed

[2017-07-24 00:30] Bevilacqua commented on #308
I tried the following things all resulting in errors:

- `†translate(company_name, $up, $low)=translate('Serpico', $up, $low)† HELLO WORLD ¥`
    - ERROR: Xpath error: Invalid Expression (arrow points to the single quote character)
- `†translate(company_name, $up, $low)=translate("Serpico", $up, $low)† HELLO WORLD ¥`
    - ERROR: Xpath error: Invalid Expression (arrow points to the double quote ch

[2017-07-24 03:10] geckom opened #311 "Vuln ID Mapping in report generation"
## Feature Request

We need to be able to include the CVE or "Vuln ID Mapping" in the report. This is so we can add any relevant CVE numbers to our reports.

### Example Use Case

Our clients often want to know if there is a CVE related to a particular finding. While having a reference URL to a CVE is nice, we would like to include any Vuln ID mapping data in the report itself.

### Other
Obviousl

[2017-07-24 11:21] ITGSean commented on #311
Surely this is what the "References" field is for?

[2017-07-24 11:23] geckom commented on #311
Was going to put it in another sections but can just use references. Closing.

[2017-07-24 11:23] #311 closed

[2017-07-24 11:46] ITGSean opened #312 "Config option to turn on list item delete confirmation"
## Feature Request

Add a configuration switch to globally turn on item deletion confirmation in list views(reports/findings/users)

### Example Use Case
As more and more users are actively using Serpico, the odds of someone accidentally deleting something like a report or finding become higher.  To try to prevent this from happening, I suggest that a config option be added to enable deletion conf

[2017-07-25 05:35] kelvinsilva commented on #308
I am also having this problem. Any fixes?

[2017-07-26 06:07] Bevilacqua commented on #308
@BuffaloWill any ideas?

[2017-07-26 07:15] frisch-raphael commented on #308
@BuffaloWill If there's no problem with their syntax, it might come from the bug that 4B3l0 corrected in #307

[2017-07-26 17:24] r3b00t5 commented on #294
Thanks for looking into it.

[2017-07-26 17:28] r3b00t5 commented on #295
I know this is closed, but how do I get the Vector String and Severity rating for CVSSv3?

[2017-07-26 23:31] Bevilacqua commented on #308
@frisch-raphael  are you referring to moving the low/up declarations to the top of the file? I actually already did that on my personal branch and am still having the issue (except for the last bullet point about up not being defined).

[2017-07-27 01:17] Bevilacqua commented on #308
Just figured it out. Has nothing to do with the syntax of the test expression. MS Word 2016 added a weird extended ascii character instead of an actual single quote.

For reference: The fix was as follows (_helpers/xslt_generation.rb_)[_2 occurrences]:

[code]

[2017-07-28 07:00] Bevilacqua opened #314 "Markup Language does not work as expected"
## Bug
Using markup when creating a new finding does not work as expected. To recreate:
1. Add a new finding
2. Use italic markdown for part of an entry EX:
`dfwefefwef [~~ italics ~~] dawfbqr`
3. Preview the document.

The preview is all italic instead of just the part wrapped in `[~~`
![20427638_2051137351774889_1736126867_n](https://user-images.githubusercontent.com/1688796/28706110-2d118236-73

[2017-07-28 07:07] kelvinsilva commented on #314
ii have this issue also

[2017-07-28 07:07] kelvinsilva commented on #314
@BuffaloWill @arisada @ccammilleri @sho-luv